<!DOCTYPE html>
<html lang="en">
	<head>
		{% load bootstrap3 %}

		{# Load CSS and JavaScript #}
		{% bootstrap_css %}
		{% bootstrap_javascript %}

		{# Display django.contrib.messages as Bootstrap alerts #}
		{% bootstrap_messages %}
		<title>Troubleshooting</title>
	</head>
	<body>
		<main class="container" role="main">
			<h1>Troubleshooting Tips</h1>

			Before you head off to the discussion page to solve the issue with the Annotation Tool please take a second to see if a solution already exists:

			<h3>Issue #1: When the page loads, edx seems to load but where the tool should be is pure white.</h3>

			<p></p>
		</main>
	</body>
</html>