<!DOCTYPE html>
<html lang="en">
	<head>
		{% load bootstrap3 %}

		{# Load CSS and JavaScript #}
		{% bootstrap_css %}
		{% bootstrap_javascript %}

		{# Display django.contrib.messages as Bootstrap alerts #}
		{% bootstrap_messages %}
		<title>Troubleshooting</title>
	</head>
	<body>
		<main class="container" role="main">
			<h1>Troubleshooting Tips</h1>

			<div class="alert alert-danger">
				<strong>Problems viewing/making annotations?</strong><br>
				<p>Due to your personal browser privacy settings you may be able to see the item you are trying to annotate but your personal annotations will not save and your classmates'/instructors' annotations will not load at all!
				</p>
				<p>Follow the instructions below to figure out how to change your settings:</p>
				<ul>
				<li><a href='#safari-instructions'>Safari</a></li>
				<li><a href='#chrome-instructions'>Chrome</a></li>
				<li><a href='#firefox-instructions'>Firefox</a></li>
				<li><a href='#ie-instructions'>Internet Explorer</a></li>
				</ul>
			</div>

			<p>Before you head off to the discussion page to solve the issue with the Annotation Tool please take a second to see if a solution already exists:</p>

			<h3>Issue #1: When the page loads, edx seems to load correctly but there is a white empty rectangle where the tool should be.</h3>

			<p>This could mean one of a couple of things. The most likely possibility is that our servers are down. Check back in five minutes, usually they go down while we are updating the tool and fixing bugs. In the mean time, try reloading the page with your ad-blocker turned off in case its settings are blocking the tool from loading. Otherwise, hang tight, we're on the case.</p>

			<p>We work really close with instructors so if our service should be down for long stretches, we will work with them to figure out work arounds for assignments.</p> 

			<h3 id="issue-2">Issue #2: When the page loads, edx seems to load correctly, I can see the text/image/video I'm trying to annotate, but none of the annotations in the "Public" tab load.</h3>

			<p>
			In this case you might also get a quick message from the top of the tool that says something about "problems accessing the annotation store." This will happen if you (1) disconnect from the internet after the page has loaded, (2) if you block third-party cookies and site-data to be stored in your browser, or (3) if our annotation server is down.
			</p>
			<div style="margin-left:40px; margin-right:40px;">
			<p id="safari-instructions"><strong>Safari - </strong> Go to <strong>Safari &gt; Preferences</strong>. Under the <strong>Privacy</strong> tab you should see options for "Cookies and website data." The default is "Allow from websites I visit". Visiting this troubleshoot page should allow you to add the tool's site to the websites you've visited, so just refresh the edx page with the tool and it should now work. You'll have to visit this page again in the future if you run into problems. If you would like to prevent problems in the future, then select "Always allow" but be aware of security concerns from doing this.
			</p>
			<p id="chrome-instructions"><strong>Chrome - </strong> Chrome has a specific setting in the privacy options that will block third-party site data to be stored. To fix this, go to <strong>Chrome &gt; Preferences</strong> and this should open up a new Settings tab. Scroll to the bottom and click on the "Show advanced settings..." link. Find the "Privacy" section and hit the button marked "Content settings..." This should cause a pop up to appear and you should make sure that the option "Block third-party cookies and site data" is <em>deselected</em>.</p>
			<p id="firefox-instructions"><strong>Firefox - </strong> Firefox has a specific setting in the privacy options that will block third-party site data to be stored. To fix this, go to <strong>Firefox &gt; Preferences</strong> and this should open up a new Preferences tab. Select the "Privacy" section on the left sidebar. Under the "History" subsection should see a dropdown menu that says "Firefox will:" and here you should select the option "Use custom settings for history".  It should expand your options and now you should make sure that you Accept cookeis from sites and that for the "Accept third party cookies" options you select "Always" or "From visited".</p>
			<p id="ie-instructions"><strong>Internet Explorer -</strong> Open "Internet Options" and go to the "Privacy" tab. Hit the "Advanced" button below the slider and override your settings. Make sure that "Third Party" sessions and cookies are allowed.
			</p>
			</div>
			<p>If annotations still do not load and you cannot make any annotations, then the server might be down. Notify your instructor and don't panic, we're on the case.
			</p>
			<h3>Issue #3: The page loads and I see my peers' annotations but whenever I make my own and reload the page, the annotations will not save.</h3>
			<p>Follow the steps in <a href="#issue-2">Issue #2</a> as these tend to be related.</p>
			<h3>Issue #4: I cannot see the dropdown list of tags for the assignment.</h3>
			<p>Notify your instructor. It was probably just an oversight. While you await this fix, you can still type in a tag and hit "enter" and it will retroactively change to the correct color once your instructor has updated the assignment.</p>
			<h3>Still don't see your issue?</h3>
			<p>Go to the discussion board for your course and let us know what's wrong and we'll get on it as quickly as possible. Please be ready to give us information so that we are able to recreate your problem--in particular you should head over to <a href="http://whatsmyuseragent.com/">whatsmyuseragent.com</a> and copy over what your user agent string is at the top of the page. Don't fret, there are many ways to work around issues and the tool is still in development so any issues you encounter will help us catch them and fix them for future courses. Thanks for your input!</p> 
		</main>
	</body>
</html>
