.Python
/pyenv
env
bin
lib
node_modules
include
*.DS_Store
*.pyc
*.sh
htmlcov
secure.py
http_static
production.py
reports
*-annotation-list.json
*-old.json
*.srt
/.vagrant
!/vagrant/*.sh
/.idea
/*.log
