.Python
/pyenv
env
env3
bin
lib
node_modules
include
*.DS_Store
*.pyc
*.sh
*.log
htmlcov
secure.py
http_static
production.py
reports
*-annotation-list.json
*-old.json
*.srt
/.vagrant
!/vagrant/*.sh
/.idea
/pycharm-debug.egg
.coverage
.vscode
