# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
bin
node_modules
include

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.cache
.coverage
htmlcov
reports

# Django stuff:
*.log
local_settings.py
logs

# dotenv
.env

# db
db.sqlite3

# static root
public/
http_static

# virtualenvs
/pyenv
.venv
env
env3
.python-version

# other
*.DS_Store
secure.py
production.py
*-annotation-list.json
*-old.json
*.srt
/.idea
/pycharm-debug.egg
.vscode
.vagrant
Vagrantfile
*.box
