# The secure.py file stores environment specific settings and secrets.  
# Using the below secure settings in combination with project defaults should be 
# sufficient to get you started.  Make sure you copy this file over as is to
# secure.py before running `vagrant up`.
# Note: 'https_only': True required to create/delete assignments when running locally
    

SECURE_SETTINGS = {
    'django_secret_key': 'SuPeR-SeCrEt_KeY!',
    'debug': True,
    'log_level': 'DEBUG',
    'CONSUMER_KEY': '123key',
    'LTI_SECRET': 'secret',
    'LTI_SECRET_DICT': {},
    'ORGANIZATION': '',
    'SERVER_NAME': 'localhost',
    'X_FRAME_ALLOWED_SITES': {'canvas.localhost', 'edx.localhost'},
    'db_default_name': 'annotationsx',
    'db_default_user': 'annotationsx',
    'db_default_password': 'password',
    'db_default_host': 'localhost',
    'annotation_database_url': 'http://localhost:8080/annos',
    'annotation_db_api_key': '49a70e80-3c06-11e7-a919-92ebcb67fe33',
    'annotation_db_secret_token': 'bd79cd1c-3c06-11e7-a919-92ebcb67fe33',
    'accessibility': True,
    'https_only': True
}

