.sidebar {
    text-align: center;
    border: 1px solid black;
    padding-right: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:250px;
}

.sidebar-top {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0px;
    width:250px;
}

.sidebar-top #user-label {
    font-family: Verdana, Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.sidebar a {
    color:#66ccff;
    font-family: Verdana, Arial, sans-serif;
    text-decoration:none;
    font-size: 13px;
}

.bar {
    width: 100%;
    border-bottom: 1px solid black;
}

.dashed-bar {
    border-bottom: 1px dashed black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar p {
    text-align: left;
}

.sidebar .label {
    color: #bbbbbb;
    text-transform: uppercase;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}

.header {
    width: 100%;
    background-color: black;
    vertical-align: middle;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
	height: 50px;
	padding-left: 11%;
	padding-right: 11%;
}

@media screen and (min-width: 1920px) {
	.header {
		padding-left: 7.5%;
		padding-right: 7.5%;
	}
}

@media screen and (min-width: 1140px) {
	.header {
		padding-left: 7.7%;
		padding-right: 7.7%;
	}
}

.header .site-title {
	display: inline-block;
	position: relative;
    font-size: 1.2em;
    color: white;
    font-family: Verdana, sans-serif;
}

.header .site-title a {
	color: white;
	text-decoration: none;
}

@media screen and (max-width: 750px) {
	.header .site-title {
		display: none;
	}
}

.header .site-title a:hover{
    text-decoration: none;
}

.header .logo {
	display: inline-block;
	vertical-align: middle;
	width: 70px;
	height: 35px;
	cursor: pointer;
}

.header #banner-logo-left {
	position: relative;
	display: inline-block;
	padding: 5px 0px;
}

.header .user-greeting {
    float: right;
    margin-right: 3%;
    margin-top: -20px;
}

.section-header{
    color: #595959;
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    margin-bottom: 2px;
    margin-top: 30px;
}

.course-name {
    font-family: Verdana, Arial, sans-serif;
    margin: 10px 0 0 0;
	font-size: 1.8em;
	font-weight: bold;
}

.assignment-header {
	color: rgb(86, 86, 86);
	font-family: Verdana, Arial, sans-serif;
    margin: 15px 0;
	font-size: 1.4em;
	font-weight: bold;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: Verdana, Arial, sans-serif;
}

th {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: Verdana, Arial, sans-serif;
}

.settingslink {
    font-size: 12px;
    display: block;
	text-decoration: underline;
}

.leftfloat{
    margin-top: 4px;
    margin-left: -30px;
}

ul {
    text-align: left;
    font-size: 11px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#assignments > tbody > tr:nth-child(odd) > td {
    cursor: pointer;
}

#assignments > tbody > tr:nth-child(odd) > td:hover {
    background-color: #66ccff;
}

#assignments > tbody > tr:last-child > td:hover {
    background-color: inherit;
}

.expandicon {
    float: right;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.closeicon {
    float: right;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.copypaste{
    padding: 20px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(0,5,54,0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.copypaste p{
    text-align: center;
}

.copypaste pre {
    text-align: center;
}

.helptext {
	font-size: 8pt;
	display: block;
	color: #aaaaaa;
}
.navigation {
    font-size: 0.9em;
    position: relative;
    display: inline-block;
    margin-top: auto;
    margin-bottom: auto;
    font-family: Verdana;
    padding-top: 15px;
    height: 54px;
}

.navigation a {
    color: #88ddff;
    margin-left: 5px;
    margin-right: 15px;
    vertical-align: middle;
    text-decoration: none;
    border-bottom: 4px solid rgb(134, 231, 244);
    font-weight: bold;
    display: inline-block;
    height: 100%;
    height: calc(100% - 4px);
}

.navigation a.selected {
	color: #999999;
	border-bottom: 4px solid rgb(154, 154, 154);
}

.navigation a.selected:hover {
	color: #999999;
	border-bottom: 4px solid rgb(154, 154, 154);
}

.navigation a:hover {
    color: #ccffff;
    text-decoration: none;
}

.container {
	display: block;
	padding-left: 86px;
    padding-right: 86px;
    padding-top: 16px;
}

@media (min-width: 768px){
	.container {
		width: 94%;
	}
}

.container table#assignments {
    margin-top: 20px;
}

td a:not([role="button"]){
    color: #005d94!important;
}

footer {
    bottom : 0;
    height : 40px;
    margin-top : 40px;
    text-align: center;
    width:100%;
}

.btn-danger {
    background-color: #b31200!important;
}

.btn-default {
    color: #005d94!important;
}

.errorlist {
    list-style-type: none;
    color: red;
    -webkit-margin-before: 0em;
    -webkit-padding-start: 0px;
}

.spin {
  -webkit-animation: spin .5s infinite linear;
  -moz-animation: spin .5s infinite linear;
  -o-animation: spin .5s infinite linear;
  animation: spin .5s infinite linear;
     -webkit-transform-origin: 50% 58%;
         transform-origin:50% 58%;
         -ms-transform-origin:50% 58%; /* IE 9 */
}
.assignment-item {
    overflow: auto;
}
.assignment-item, .source-item {
	display: block;
	padding: 20px 30px;
	border: 2px solid lightgray;
	border-radius: 10px;
	margin-top: 15px;
	background-color: white;
}

.assignment-item .first-row, .source-item .first-row {
	cursor: pointer;
  overflow: auto;
}
.assignment-item-unpublished,
.assignment-item-unpublished .table-row:nth-child(even) {
	background-color: rgb(240,240,240);
}
.assignment-item-unpublished .table-row:nth-child(odd) {
	background-color: rgb(221,221,221);
}

.assignment-item .first-row i, .source-item .first-row i{
	cursor: pointer;
	vertical-align: middle;
}

.assignment-item .assignment-title, .source-item .source-title {
	font-weight: bold;
	word-wrap: break-word;
	vertical-align: middle;
	font-size: 1.1em;
}

.assignment-item .edit-assignment-button {
	padding: 5px 20px;
	border: 2px solid rgb(55, 124, 182);
	border-radius: 5px;
	text-decoration: none;
	float: right;
	font-size: 1.1em;
}
.assignment-item .edit-assignment-button:hover {
	border: 2px solid black;
	background-color: rgb(55, 124, 182);
	color: white;
}
.assignment-item .assignment-unpublished {
  display: inline-block;
  background-color: #666;
  border: 1px solid #666;
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  color: #fff;
  padding: 4px 12px;
  text-transform: uppercase;
}
.table-header {
	margin-top: 20px;
	color: rgb(86, 86, 86);
	font-weight: bold;
	margin-bottom: 10px;
	font-size: 1.1em;
}

.table-row:nth-child(odd) {
	background-color: white;
}

.table-row:nth-child(even) {
	background-color: rgb(238, 238, 238);
}

.table-row:last-child {
	background-color: white;
	cursor: pointer;
}

.table-row {
	padding: 5px 50px;
	margin-left: -30px;
	margin-right: -30px;
}

.table-row a {
	color: #0871b0;
	font-size: 1.1em;
}

.table-row a:nth-child(2) {
	display: inline-block;
	width: 75%;
	margin-left: 5px;
}

@media screen and (max-width: 790px) {
	.table-row a:first-child {
		width: 60%;
	}
}

.table-footer {
	margin-top: 10px;
	color: #b60000;
	font-size: 1.1em;
}

#new-assignment-button {
	border: 1px solid black;
	background-color: #337ab7;
	color: white;
	text-decoration: none;
	padding: 5px 40px;
	border-radius: 5px;
	position: relative;
	font-family: Verdana, arial, sans-serif;
	display: inline-block;
	margin-right: 10px;
	font-size: 1.2em;
}

#new-assignment-section {
	top: 25px;
	position: relative;
	font-family: Verdana, arial, sans-serif;
}

.hx-textfield, .bootstrap-select > .dropdown-toggle {
	display: block;
	height: 45px;
	padding: 0px 12px;
	font-size: 10pt;
	width: 84%;
	border: 2px solid lightgray;
	margin-bottom: 15px;
	margin-top: 10px;
	border-radius: 0px!important;
	background-color: white;
	color: black!important;
}

.dropdown-toggle[data-id^="mirador-view-type"], .dropdown-toggle[data-id="default-tab"], .dropdown-toggle[data-id^="import"] {
	width: 100%;
}
.bootstrap-select.btn-group:not(.input-group-btn), .bootstrap-select.btn-group[class*="col-"] {
  margin-bottom: 30px;
}

.add-source-popup-background .dropdown-menu {
    width: 84%!important;
}

.dropdown-menu>li>a {
  display: inline-block;
  max-width: 95%;
}

.full-width {
	width: 100%;
}

.hx-textfield {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.hx-textfield:focus, .bootstrap-select > .dropdown-toggle:focus, .bootstrap-select > .dropdown-toggle:focus:before, .open > .bs-searchbox:focus, .source-detail .instructions:focus {
	border-color: darkgray;
    outline: 0!important;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(211,211,211,.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(211,211,211,.6);
}

.form-group label {
	font-size: 11pt;
	color: black;
	font-weight: bold;
}

.form-group label.course_name, .edit_course_subheading, .subheading, .form-group label.edit_course_subheading {
	font-size: 11pt;
	color: rgb(107, 107, 107);
	font-weight:normal;
}

body {
	margin: 0;
	font-family: Verdana, Arial, sans-serif;
	padding-bottom: 50px;
	position:relative;
}

@-moz-keyframes spin {
  from {
    -moz-transform: rotate(0deg);
  }
  to {
    -moz-transform: rotate(360deg);
  }
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Replacing bootstrap-select css.*/
.bootstrap-select > .dropdown-toggle, .readonlyfield {
	padding-top: 6px;
}

.bootstrap-select > .dropdown-toggle {
	cursor:pointer;
	background-color: transparent;
}

.open.bootstrap-select > .dropdown-toggle {
	background-color: rgb(238, 238, 238);
	border-bottom: none;
}

.bootstrap-select.form-control {
	position: relative;
}

/* .bootstrap-select.form-control:before {
	content: '\f0d7';
    font-family: FontAwesome;
    color: black;
    position: absolute;
    right: 16%;
    margin-top: 10px;
    font-size: 18pt;
    padding: 2px 6px 4px 7px;
    border: 2px solid lightgray;
    cursor: pointer;
    pointer-events: none;
} */

.bootstrap-select.form-control.firefox.win:before {
    font-size: 15pt;
}

.bootstrap-select.form-control.firefox:before {
    font-size: 17pt;
}

.bootstrap-select.mirador-view-type:before, .bootstrap-select.full-width:before{
	right: 0;
}

.dropdown-menu {
	position:absolute;
	display: none;
	float: left;
	list-style: none;
	background-color: white;
	border: 2px solid lightgray;
	margin-top:-17px;
	max-width: 100%;
}

.dropdown-toggle[data-id^="id_select_existing_user"] + .dropdown-menu,
.dropdown-toggle[data-id^="id_target_type"] + .dropdown-menu,
.dropdown-toggle[data-id^="assignment_object_choices"] + .dropdown-menu,
.dropdown-toggle[data-id^="viewtype"] + .dropdown-menu {
	min-width: 84%;
	max-height: 287px!important;
}

/*.dropdown-toggle[data-id="import-course-chosen"] + .dropdown-menu {
	min-width: 68%!important;
	min-width: calc(68% - 12px)!important;
}

.dropdown-toggle[data-id^="mirador-view-type"] + .dropdown-menu {
	left: calc(10% + 79px);
	min-width: calc(80% - 158px)!important;
    width: calc(80% - 158px);
}

.dropdown-toggle[data-id^="viewtype"] + .dropdown-menu, .dropdown-toggle[data-id^="assignment_object_choices"] + .dropdown-menu {
	left: calc(10% + 3px);
	min-width: calc(77% - 11px);
	width: calc(77% - 11px);
}*/

.dropdown-toggle[data-id^="assignment_object_choices"] + .dropdown-menu li a span.text {
	display: inline;
}

/*.dropdown-toggle[data-id^="default-tab"] + .dropdown-menu {
	left: 10%;
	min-width: 80% !important;
    width: 80%;
}*/
.open > .dropdown-menu {
	display: block;
	border-top: none;
	margin-top: -16px;
}

.open > .dropdown-menu > li:not(.no-results) {
	padding: 5px;
    padding-left: 20px;
    padding-right: 30px;
    font-size: 10pt;
    cursor: pointer;
}

.open > .dropdown-menu > li:not(.no-results):hover {
	background-color: lightgray;
}


.open > .dropdown-menu > li:not(.no-results)::before {
	content: '\f096';
	font-family: FontAwesome;
	color: darkgray;
	margin-top: -3px;
    font-size: 14pt;
    margin-right: 11px;
}

.open > .dropdown-menu > li.selected:not(.no-results)::before {
	content: '\f046';
	font-family: FontAwesome;
	color: black;
	margin-top: -3px;
    font-size: 14pt;
    margin-right: 11px;
}

.no-results {
	margin-top: 5px !important;
	margin-bottom: 5px !important;
	background: white !important;
	margin: 0 12px !important;
	padding: 8px !important;
}

.open > .bs-searchbox {
	background-color: rgb(238, 238, 238);
	padding-bottom: 10px;
	border-bottom: 1px solid rgb(170, 170, 170);
}

.open > .bs-searchbox input.form-control {
	margin-left: 0.5%;
	width: 97%;
	padding: 5px;
}

.search-panel.open > .dropdown-menu {  margin: 0; }
.search-panel.open > .dropdown-menu > li > a { display: inline; }
.search-panel.open > .dropdown-menu > li > a:focus, .search-panel.open > .dropdown-menu > li > a:hover {background-color: inherit;}

.readonlyfield {
	background-color: rgb(236, 236, 236);
	display: inline-block;
}

.editing {
	display:none;
}

#add-remove-button {
	font-size: 9pt;
	color: rgb(76, 138, 190);
	display: inline-block;
}

p.help {
    font-size: 9pt;
    margin-top: -5px;
    margin-bottom: 10px;
}

.save {
	padding: 5px 25px;
	text-align: center;
	border-radius: 7px;
	text-decoration: none;
	display: inline-block !important;
	font-size: 11pt;
	cursor: pointer;
}

.save.requested#import-button {
	display: none!important;
}

.save#save-button, .save#annotation-settings-save-button, .save#database-settings-cancel-button, .save#source-save-button, .save#import-button {
	color: white;
	background-color: #285b85;
}

.save#save-button:hover, .save#annotation-settings-save-button:hover, .save#database-settings-cancel-button:hover, .save#source-save-button:hover, .save#import-button:hover {
	background-color: rgb(65, 134, 192);
}

.save#cancel-button, .save#annotation-settings-cancel-button, .save#source-cancel-button, .save#import-cancel {
	color: black;
	background-color: rgb(174, 203, 226);
}

.save#cancel-button:hover, .save#annotation-settings-cancel-button:hover, .save#source-cancel-button:hover, .save#import-cancel:hover {
	background-color: rgb(184, 213, 236);
}

.button-collection {
	margin-top: 25px;
}

.delete-popup-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(50, 50, 50, 0.4);
}

.delete-popup-background {
	position: relative;
	width: 600px;
	min-width: 600px;
	height: 300px;
	min-height: 300px;
	top: 200px;
	top: calc(50% - 150px);
	left: 100px;
	left: calc(50% - 300px);
	background-color: white;
	border-radius: 10px;
	color: black;
	-webkit-box-shadow: 13px 15px 16px -6px rgba(0,0,0,0.42);
	-moz-box-shadow: 13px 15px 16px -6px rgba(0,0,0,0.42);
	box-shadow: 13px 15px 16px -6px rgba(0,0,0,0.42);
}

@media screen and (max-width: 650px) {
	.delete-popup-background {
		min-width: 500px;
		width: 500px;
		left: 15px;
		left: calc(50% - 250px);
		height: 330px;
		top: calc(50% - 165px);
	}
}

.delete-popup-background h3, .source-material-setup-popup-background h3 {
	padding-top: 28px;
	padding-left: 30px;
	font-size: 14pt;
}

.delete-popup-background p, .source-material-setup-popup-background p {
	margin-top: 5px;
	padding-left: 30px;
	padding-right: 30px;
	font-size: 11pt;
	margin-bottom: 25px;
}

.delete-popup-background p em, .source-material-setup-popup-background p em{
	font-weight: bold;
	display: block;
}

#delete-popup-confirm, #add-source-popup-confirm {
	padding: 5px 25px;
	background-color:rgb(202, 8, 20);
	color: white;
	border-radius: 5px;
	display:inline-block;
	margin-left: 30px;
	margin-right: 15px;
	cursor: pointer;
}

.disabled#delete-popup-confirm {
	background-color: lightgray;
	color: black;
	cursor: default;
}

#delete-popup-cancel {
	padding: 5px 25px;
	background-color:rgb(158, 186, 208);
	color: black;
	border-radius: 5px;
	display:inline-block;
	cursor: pointer;
}

.hidden {
	display: none;
}

.assignment-option-block { margin-top: 15px; }
.assignment-option-block a { font-size: 11pt; }
.assignment-option-block .inline-label,
.assignment-option-block label {
	font-size: 11pt;
	color: rgb(107, 107, 107);
}
.advanced-options ul {
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.advanced-options ul li { display: inline-block; }
.advanced-options ul li:not(:first-child) { margin-left: 5px }
.advanced-options ul li:not(:last-child):after { content: " | " }
.source-materials {
  background-color: #eee;
  border: 2px solid darkgray;
  border-radius: 15px;
  padding: 25px 25px;
  margin-top: 20px;
}

.source-materials h4 {
	margin-top: 0px;
}

.source-materials p {
	margin-top: 20px;
	bottom: 20px;
}

#add-source-button {
	color: black;
    background-color: white;
    border: 2px solid rgb(55, 124, 182);
    font-size: 11pt;
    margin-right: 10px;
}

#create-new-source-button {
	margin-left: 10px;
	color: #1f496e;
}

.source-detail {
    margin-left: 20px;
    margin-right: 20px;
}

.source-detail .detail-metadata {
	margin-top: 5px;
	margin-bottom: 15px;
	display: flex;
	justify-content: space-between;
}

.source-detail .author{
	display: inline-block;
    font-size: 9pt;
    margin-right: 40px;
}

.source-detail .date-created {
	display: inline-block;
    font-size: 9pt;
}

.source-detail .instructions {
	resize: vertical;
	display: block;
	padding: 0px 12px;
	font-size: 10pt;
	width: 100%;
	border: 2px solid lightgray;
	margin-bottom: 15px;
	margin-top: 15px;
	border-radius: 0px!important;
	background-color: white;
	height: 100px;
	color: black!important;
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;
}

.source-detail .button-collection {
	font-size: 10pt;
	display: flex;
	justify-content: space-between;
}

.source-detail .button-collection a {
	margin-right: 7%;
}

.source-detail .button-collection a i{
	margin-right: 3px;
}

.source-materials {
	min-width: 510px;
}

div#reorder-list-button {
    color: black;
    background-color: white;
    border: 2px solid rgb(55, 124, 182);
    padding: 4px 15px;
    float: right;
    margin-top: -40px;
}

.source-detail > a {
	color:#66ccff;
}

.advanced-settings {
	margin-top: 25px;
}

#add-tags-button {
	color: black;
	background-color: white;
	border: 2px solid rgb(55, 124, 182);
	padding-left: 10px;
	padding-right: 10px;
}

.tag-list-header {
    font-size: 10pt;
    color: darkgray;
    display: inline-block;
    margin-right: 87px;
    margin-top: 20px;
}

.custom-tag-name {
	padding: 5px;
	border: 2px solid lightgray;
	margin-right: 30px;
	margin-top: 10px;
	font-size: 11pt;
}

.color-selection {
	display:inline-block;
}

.custom-tag-color, .custom-tag-color-chosen {
  width: 25px;
  height: 25px;
  border: solid 1px black;
  display:inline-block;
  position: relative;
  top: 5px;
  margin-right: 20px;
  cursor: pointer;
}

.remove-tag {
	margin-right: 10px;
	font-size: 9pt;
}

.remove-tag i {
	margin-right: 5px;
}

.add-another-tag {
	margin-right: 10px;
	font-size: 9pt;
	display: none;
}

.add-another-tag i {
	margin-right: 5px;
}

.trow:last-child .add-another-tag {
	display: inline-block;
}

.trow {
	margin-left: 30px;
}

.visible-tabs-collection {
	margin-bottom: 15px;
}

.visible-tabs-collection div {
	display: inline-block;
	margin-right: 15px;
}

.dropdown-inner {
	margin-top: 5px;
}

.dropdown-inner li {
	font-weight: bold;
	list-style: none;
	margin-left: -30px;
	padding-right: 40px;
	cursor: pointer;
	width: 165px;
}

.dropdown-inner li:hover {
	color: rgb(55, 124, 182);
}
.dropdown-inner li:hover .custom-tag-color {
	border-color: rgb(55, 124, 182);
}

.dropdown li .custom-tag-color {
	margin-right: 5px;
}

.custom-tag-color-menu {
	border: 1px solid lightgray;
	-webkit-box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
	box-shadow: 10px 10px 19px -2px rgba(0,0,0,0.75);
	display: none;
	position: absolute;
	background-color: white;
	z-index: 999;
	margin-left: -10px;
	margin-top:3px;
	height: 180px;
	overflow: scroll;
}

#custom-color {
	width: 110px;
}

.database-settings-page p em {
	font-weight: bold;
	display: block;
	font-style: normal;
	margin-top:10px;
	margin-bottom: 10px;
}

.database-settings-page p .warning {
	color: red;
}

#example-holder {
	display: flex;
	margin-bottom: 50px;
}

#example-holder p {
	display: inline-block;
}

#example-image {
	margin-right: 50px;
}

textarea#id_target_content {
    width: 100%;
}

.add-source-popup-background {
    position: relative;
    width: 600px;
    min-width: 600px;
    padding-left: 70px;
    padding-top: 20px;
    height: 450px;
    min-height: 300px;
    top: 200px;
    top: calc(50% - 225px);
    left: 100px;
    left: calc(50% - 300px);
    background-color: white;
    border-radius: 10px;
    color: black;
    -webkit-box-shadow: 13px 15px 16px -6px rgba(0,0,0,0.42);
    -moz-box-shadow: 13px 15px 16px -6px rgba(0,0,0,0.42);
    box-shadow: 13px 15px 16px -6px rgba(0,0,0,0.42);
}

.add-source-popup-background h3 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.add-source-popup-background label {
	margin-top: 15px;
	display: block;
}

#add-source-popup-confirm {
	margin-top: 20px;
}

.hx-textfield.popup button:before {
    left: 84%;
    left: calc(84% - 18px);
    margin-top: -7px;
    font-size: 19pt;
}

.popup#delete-popup-confirm {
	margin-left: 0px;
    margin-top: 20px;
}

textarea#id_target_content {
	padding-top: 7px;
}

#edit_course_form h4 {
    margin-bottom: 0px!important;
    margin-top: 0px;
}

#edit_course_form .form-group {
	margin-bottom: 25px!important;
}

#edit_course_form .form-group.editing {
	margin-top: 20px;
}

#edit_course_form .form-group.editing p {
	margin-top: -10px;
	margin-bottom: 20px;
}

#edit_course_form #ro-to-remove {
	margin-bottom: 10px;
}

#edit_course_form .form-control div {
	margin-bottom: 15px;
}

.source-material-setup-popup-background {
	position: relative;
    width: 600px;
    min-width: 600px;
    height: 415px;
    min-height: 300px;
    top: 200px;
    top: calc(50% - 207px);
    left: 100px;
    left: calc(50% - 300px);
    background-color: white;
    border-radius: 10px;
    color: black;
    -webkit-box-shadow: 13px 15px 16px -6px rgba(0,0,0,0.42);
    -moz-box-shadow: 13px 15px 16px -6px rgba(0,0,0,0.42);
    box-shadow: 13px 15px 16px -6px rgba(0,0,0,0.42);
}

@media screen and (max-width: 650px) {
	.source-material-setup-popup-background {
		width: 500px;
		min-width: 500px;
		height: 460px;
		top: calc(50% - 230px);
		left: calc(50% - 250px);
	}
}

.source-material-setup-popup-background .hx-textfield {
	margin-left: 30px;
}

.source-material-setup-popup-background #delete-popup-cancel {
	margin-left: 30px;
}

input.ordernum {
    width: 30px;
    height: 25px;
    text-align: center;
    padding-left: 10px;
    font-size: 12pt;
    margin-right: 5px;
}

.order-div {
	float: right;
	margin-top: -3px;
	width: 91px;
}

input[type=checkbox], input[type=radio] {
	display:none;
} /* to hide the checkbox itself */

input[type=checkbox] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  color: black;
  content: "\f096"; /* unchecked icon */
  letter-spacing: 10px;
} /* space between checkbox and label */

input[type=checkbox]:checked + label:before {
	content: "\f046"; /* checked icon */
	letter-spacing: 8px;
} /* allow space for check mark */

input[type=radio] + label:before {
  font-family: FontAwesome;
  display: inline-block;
  color: black;
  content: "\f10c"; /* unchecked icon */
  letter-spacing: 10px;
} /* space between checkbox and label */

input[type=radio]:checked + label:before {
	content: "\f192"; /* checked icon */
	letter-spacing: 10px;
} /* allow space for check mark */

input[type=radio] + label {
	margin-right: 20px;
}

.assignment {
	font-size: 12pt;
	margin-top: 10px;
}

.assignment label {
	color: rgb(91, 150, 198);
}

.assignment-choices .subheading {
	margin-top: 15px;
}

.assignment-choices .import-choices {
	margin-top: 10px;
}

.check-uncheck {
	font-size: 9pt;
}

a {
	color: #337ab7;
}

.progress-bar {
	margin-top: 50px;
	border: 2px solid #5b96c6;
	border-radius: 10px;
	padding: 20px;
  width: 100%;
}

progress[value] {
	-webkit-appearance: none;
    appearance: none;

  	width: 100%;
  	height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress[value]::-webkit-progress-value {
  background-image:
	   -webkit-linear-gradient(-45deg,
	                           transparent 33%, rgba(0, 0, 0, .1) 33%,
	                           rgba(0,0, 0, .1) 66%, transparent 66%),
	   -webkit-linear-gradient(top,
	                           rgba(255, 255, 255, .25),
	                           rgba(0, 0, 0, .25)),
	   -webkit-linear-gradient(left, #09c, #f44);

    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    -webkit-animation: animate-stripes 5s linear infinite;
    animation: animate-stripes 5s linear infinite;
}

@-webkit-keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

@keyframes animate-stripes {
   100% { background-position: -100px 0px; }
}

.current-progress {
	margin: 15px 20px;
}

.errors {
	width: 100%;
    background-color: rgba(255, 0, 0 ,0.3);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
}

.starting-resource {
    font-family: Verdana, Arial, sans-serif;
    font-size: 14px;
    margin: 15px 0 0 0;
}

.make-starting-resource {
	text-decoration: none;
	cursor: pointer;
}

/* accessibility */
#hxat-alert, #hat-status, #text-content-notifications {
    float: left;
    margin-top: -999999px;
    margin-left: -999999px;
}

#dashboard {
	margin-right: 0;
}

a {
	text-decoration: underline;
}
