.sidebar {
    text-align: center;
    border: 1px solid black;
    padding-right: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:250px;
}

.sidebar-top {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0px;
    width:250px;
}

.sidebar-top #user-label {
    font-family: "arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.sidebar a {
    color:#66ccff;
    font-family: "arial", sans-serif;
    text-decoration:none;
    font-size: 13px;
}

.bar {
    width: 100%;
    border-bottom: 1px solid black;
}

.dashed-bar {
    border-bottom: 1px dashed black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar p {
    text-align: left;
}

.sidebar .label {
    color: #bbbbbb;
    text-transform: uppercase;
    font-family: "arial", sans-serif;
    font-size: 10px;
}

.header {
    width: 100%;
    height: 100px;
    border-bottom: 4px solid #66ccff;
}

.header .site-title {
    font-size: 2em;
    margin-left: 20px;
    padding-top: 40px;
}

.header .site-title a:hover{
    text-decoration: none;
}

.header .user-greeting {
    float: right;
    margin-right: 3%;
    margin-top: -20px;
}

.section-header{
    color: #999999;
    text-transform: uppercase;
    font-family: "arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-bottom:1px solid #999999;
    margin-bottom: 10px;
    margin-top: 30px;
}

.course-name {
    color: black;
    text-transform: uppercase;
    font-family: "arial", sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: "arial", sans-serif;
}

th {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "arial", sans-serif;
}

.settingslink {
    font-size: 12px;
    float: left;
    margin-top: -15px;
}

.leftfloat{
    margin-top: 4px;
    margin-left: -30px;
}

ul {
    text-align: left;
    font-size: 11px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#assignments > tbody > tr:nth-child(odd) > td {
    cursor: pointer;
}

#assignments > tbody > tr:nth-child(odd) > td:hover {
    background-color: #66ccff;
}

#assignments > tbody > tr:last-child > td:hover {
    background-color: inherit;
}

.expandicon {
    float: right;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
}

.closeicon {
    float: right;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;    
}

.copypaste{
    padding: 20px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(0,5,54,0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.copypaste p{
    text-align: center;
}

.copypaste pre {
    text-align: center;
}

.helptext {
	font-size: 8pt;
	display: block;
	color: #aaaaaa;
}
.navigation {
    font-size: 1em;
    padding-bottom: 2px;
    padding-left: 30px;
    background-color: #66ccff;
}

.navigation a {
    color: #000;
}

.navigation a:hover {
    color: #fff;
    text-decoration: none;
}

.container table#assignments {
    margin-top: 30px;
}

footer {
    position : absolute;
    bottom : 0;
    height : 40px;
    margin-top : 40px;
    text-align: center;
    width:100%;
}