/* Side Dashboard */

.annotationSection.side{
	position: fixed;
	top: 0;
	right: 0;
	left: auto;
	width: 300px;
	min-width: 150px;
	height: 100%;
	background-image:url(images/debut_dark.png);
	padding: 5px;
	overflow-x: hidden;
	overflow-y: scroll;
    -moz-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
    box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=270, Color='rgba(0,0,0,0.3)')";
}
.annotationSection.side > .annotationsHolder.side {
	background-color:white;
	border: 1px solid #999;
	padding: 3px;
	margin-top:50px;
}

.annotationItem.side {
    padding:10px;
    overflow: hidden;
    background-color: white;
    cursor:pointer;
    border-bottom: 1px solid #888;
}

.annotationItem.side:nth-child(even) {
    background-color: #eee;
}

.annotationItem.side:hover {
	background-color: #ddf;
}

.resize-handle.side {
	width: 8px;
	position: fixed;
	top: 0;
	bottom: 0;
	cursor:	col-resize;
	overflow:visible;
    z-index: 999;
}

.resize-handle.side > .handle-button{
    width: 40px;
    height: 40px;
    padding: 3px;
    margin-top: 40px;
    padding-left: 8px;
    font-size: 18pt;
    margin-left: -30px;
    background-image: url(images/debut_dark.png);
    color: white;
    -moz-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
    -webkit-box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
    box-shadow: -4px 0px 4px rgba(0,0,0,0.3);
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=270, Color='rgba(0,0,0,0.3)')";
    cursor:pointer;
}

.resize-handle.side > .handle-button > img {
    width: 25px;
}

.annotationSection.side > .group-wrap {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
    min-width: 300px;
}

.annotationSection.side > .annotation-filter-buttons {
	text-align: center;	
}

.annotationSection.side .btn.user-filter {
    color: #888;
    font-weight: bold;
    background-color: transparent;
    border: 3px solid #888;
}

.annotationSection.side .btn.user-filter.disabled {
    color: #000;
    font-weight: bold;
    background-color: #888 !important;
    border: 3px solid #888;
}

.annotationSection.side > .filter-options.side {
	text-align: center;
	margin-top: 20px;
	min-width: 300px;
}

.annotationSection.side > .search-bar.side {
	text-align: center;
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
}

.annotationSection.side > .separator-solid.side {
	margin: 10px;
	height: 5px;
	color: #999;
	border: 2px solid #999;
}

.annotationSection.side > .filter-options.side > button#users-filter {
	border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
.annotationSection.side > .filter-options.side > button#annotationtext-filter {
	border-radius:0px;
}
.annotationSection.side > .filter-options.side > button#tag-filter {
	border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.annotationItem.side:not(:first-child) {
	padding-top:10px;
}

.annotationItem .annotatedBy.side {
    font-family: Arial;
    font-size: 12pt;
    font-weight: bold;
    float: left;
}

.annotationItem .annotatedAt.side {
    font-family: Arial;
    font-size: 8pt;
    float:right;
}

.annotationItem .quote.side {
    border-left: 2px solid #BBB;
    border-radius: 1px;
    padding-left: 10px;
    color: #777;
    margin-top: 40px;
    font-style: italic;
    font-family: Times New Roman;
    font-size: 10pt;
}

.annotationItem .zoomToImageBounds {
    text-align: center;
    margin-top: 40px;
}

.annotationItem .zoomToImageBounds .annotation-thumbnail{
    max-width: 150px;
    max-height: 150px;
    min-height: 1px;
    min-width: 1px;
}

.annotationItem .body.side {
    font-family: Arial;
    font-size: 11pt;
    margin-top: 20px;
    margin-bottom: 20px;
}

.annotationItem .totalreplies.side{
    float:right;
    padding:7px;
    margin-left: 20px;
    font-size: 13pt;
}

.annotationItem .tagList.side {
    float:left;
    width: 50%;
}

.annotationItem .idAnnotation{
	display:none;
}

.annotationItem .uri {
	display:none;
}

.annotationItem .tag.side {
    display: inline-block;
    padding: 5px;
    font-size: 10pt;
    border: 1px solid #999;
    border-radius: 3px;
    margin-bottom: 3px;
}

.search-label {
	color: #ccc;
}

.annotationModal {
    width: inherit;
    height: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.modal-navigation {
	background-color: #bbb;
	position: absolute;
	top: 0px;
	width: 100%;
	height: 45px;
}

button#closeModal {
	margin: 5px;
}

button#hideParent {
    margin-top: 5px;
    margin-right: 15px;
    float: right;
}

.annotationModal .idAnnotation {
	display: none;
}

.parentAnnotation {
	background-color: #333;
	position: absolute;
	width: 100%;
	top: 45px;
    z-index: 1000;
	border-bottom: 2px solid #bbb;
	padding-bottom: 20px;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.75);
}

.parentAnnotation .annotatedBy.side {
    font-family: Arial;
    font-size: 12pt;
    font-weight: bold;
    float: left;
    color: #fff;
    margin-top: 10px;
    margin-left: 10px;
}

.parentAnnotation .annotatedAt.side {
    font-family: Arial;
    font-size: 8pt;
    float:right;
    color: #fff;
    margin-top: 10px;
    margin-right: 10px;
}

.parentAnnotation .quote.side {
    border-left: 2px solid #BBB;
    border-radius: 1px;
    padding-left: 10px;
    color: #bbb;
    margin-top: 40px;
    margin-left: 15px;
    font-style: italic;
    font-family: Times New Roman;
    font-size: 10pt;
    cursor:pointer;
}

.parentAnnotation .zoomToImageBounds {
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 40px;
    cursor: pointer;
    text-align: center;
}

.parentAnnotation .zoomToImageBounds .annotation-thumbnail {
    max-width: 150px;
    max-height: 150px;
}


.parentAnnotation .body.side {
    font-family: Arial;
    font-size: 13pt;
    margin-top: 20px;
    color: #fff;
    margin-left: 10px;
}

.addReply {
    width: 100%;
}
.addReplyFixedPosition {
    position: absolute;
    bottom: 0;
}

.addReply button.btn.btn-primary.replybutton {
    width: 100%;
}

.repliesList {
    text-align: center;
    padding-top: 25px;
    /* padding-bottom: 45px; */
    /* height: inherit; */
    overflow-y: scroll;
}

.replyItem, .replyItemEdit {
    border-top: 2px solid black;
    padding: 10px;
}

.replyItem:nth-child(odd) {
    background-color: #eee;
}

.replyItem:nth-child(even) {
    background-color: #bbb;
}

.replytext {
    text-align: left;
    font-size: 11pt;
}

.repliedat {
    font-size: 8pt;
    text-align: right;
    font-style: italic;
    color: #555;
}

.repliedby{
    font-weight:bold;
}

.editgroup, .savegroup{
    float: right;
    right: 20px;
}

.replyeditgroup{
    display: block;
    margin-top: 10px;
}

.annotationModal .instructions {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 1.25em;
}

.annotationSection .annotation-instructions{
    cursor: pointer;
    text-align: right;
    margin-right: 30px;
    margin-top: -40px;
    height: 40px;
}

.annotationSection .annotation-instructions .title {
    float: right;
    margin-right: 30px;
    margin-top: 0px;
    color: #fff;
    visibility: hidden;
}

.annotationSection .annotation-instructions:hover .title {
visibility:visible;
}

.annotationSection .annotation-instructions .hide_label {
    text-align: left;
    margin-left: 5px;
    float: left;
    margin-top: -10px;
    margin-bottom: 20px;
    color: #fff;
    visibility: hidden;
}

