<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://underscorejs.org/underscore.js"></script>
<script src="http://timeago.yarp.com/jquery.timeago.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jstimezonedetect/1.0.4/jstz.min.js"></script>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load staticfiles %}
{% load staticfiles %}
<script src="{% static "vendors/tinymce/tinymce.min.js" %}"></script>
<script src="{% static "vendors/Annotator/annotator-full.js" %}"></script>
<script src="{% static "vendors/video/jquery-Watch.js" %}"></script>
<script src="{% static "vendors/video/video.dev.js" %}"></script>
<script src="{% static "vendors/video/vjs.youtube.js" %}"></script>
<script src="{% static "vendors/video/rangeslider.js" %}"></script>
<script src="{% static "vendors/video/videojs-annotator.js" %}"></script>
<script src="{% static "vendors/video/videojs.annotation.js" %}"></script>
<script src="{% static "AController.js" %}"></script>
<script src="{% static "AnnotationMain.js" %}"></script>
<script src="{% static "AnnotationCore.js" %}"></script>
<script src="{% static "TargetObjectController.js" %}"></script>
<script src="{% static "DashboardController.js" %}"></script>
<script src="{% static "vendors/Annotator/plugins/richText-annotator.js" %}"></script>
<script src="{% static "vendors/Annotator/plugins/annotator.touch.js" %}"></script>
<script src="{% static "vendors/Annotator/plugins/reply-annotator.js" %}"></script>
<link rel="stylesheet" href="{% static "vendors/Annotator/annotator.css" %}">
<link rel="stylesheet" href="{% static "vendors/Annotator/plugins/richText-annotator.css" %}">
<link rel="stylesheet" href="{% static "vendors/Annotator/plugins/annotator.touch.css" %}">
<link rel="stylesheet" href="{% static "vendors/catch/main.css" %}">
<link rel="stylesheet" href="{% static "vendors/video/video-js.min.css" %}">
<link rel="stylesheet" href="{% static "vendors/video/rangeslider.css" %}">
<link rel="stylesheet" href="{% static "vendors/ova.css" %}">
<div class="container">
{% include 'hx_lti_initializer/index_button.html' %}
<h1>{{ target_object.target_title | safe }}</h1>
<div class="content">
	<video id="vid1" class="video-js vjs-default-skin" controls preload="none" width="640" height="264">
		<source src="{{ target_object.target_content | safe }}" type='{{ typeSource }}' />
	</video>
</div>
<div class="citation">
<a href="{{ target_object.target_citation | safe }}">Source Channel</a>
</div>
<div id="dashboard" class="annotationListContainer">
</div>
</div>

<script>
console.log("{{ typeSource }}")
jQuery(function ($) {
    $(function() {
		var options = {
			commonInfo: {
				mediaType: "video", // {{ media_type }}
				context_id: "{{ course }}",
				collection_id: "{{ collection }}",
				object_id: {{ object }},
				token: "{{ token }}",
				username: "{{ username }}",
				user_id: "{{ user_id }}",
			},
			annotationMainOptions: {

			},
			annotationCoreOptions: {
				annotationElement: jQuery(".content"),
				initOptions: {
					'plugins': [
						// order matters, auth before store
						'Auth',
						'Permissions',
						'Store',
						'VideoJS',
						'RichText',
						'Reply',
						//'Touch',
					],
					optionsVideoJS: {
						techOrder: [
							"html5",
							"flash",
							"youtube",
						],
					},
					optionsRS: {},
					optionsOVA: {
						posBigNew:'none',
					},
					'database_url': "{{ assignment.annotation_database_url }}",
					'citation': "{{ target_object.target_citation | safe }}",
				},
			},
			targetObjectControllerOptions: {

			},
			dashboardControllerOptions: {
				annotationElement: jQuery("#dashboard"),
				initOptions: {
					template_urls: '{% static "templates/dashboard/"%}',
					showPublicPrivateSelectors: true,
					showMediaSelector: false,
					pagination: {{ assignment.pagination_limit }},
					flags: false,
					imageRootUrl: "{% static "vendors/catch/img"%}",
					instructor_email: "fake@fake.com",
					default_tab: "{{ assignment.default_tab }}",
				},
			},
		};
		AController(options);
	});
});
</script>
