{% extends 'hx_lti_initializer/base.html' %}
{% load hx_lti_initializer_extras %}

{% block title %} Annotation Tool | Admin Hub {% endblock %}

{% block content %}
    {% for course in courses %}
        <h2 class="course-name">{{ course.course_name }}</h2>
        {% if is_instructor %}
            <a class="settingslink" href="{% url 'hx_lti_initializer:edit_course' id=course.pk %}?resource_link_id={{resource_link_id}}&{{utm_source_param}}"><i class='fa fa-pencil' style='margin-right:4px'></i>Edit course settings</a>
            <div class='starting-resource' style='color: #004085; background-color: #cce5ff; border-color: #b8daff; position: relative; padding: .75rem 1.25rem; margin-bottom: 1rem; border: 1px solid transparent;border-radius: .25rem;'><strong>Starting Resource:</strong>
              <span class="starting-resource-object">{% if starter_object %}{{starter_object | safe}}{%else %}None{% endif %}</span>
              <span class="starting-resource-object-none" style="display:{% if starter_object %}none{% else %}inline{% endif %};">
              {% spaceless %}
                {% if org == "ATG" %}
                  (Students will see all published assignments)
                {% else %}
                  (Students will see an error)
                {% endif %}
              {% endspaceless %}
            </span>
              <br>
              <em style="font-size: 9pt;">Click on the checkbox next to the name of the assignment object you'd like learners to land on.</em>
            </div>
        {% endif %}

        <h3 class='assignment-header'>Assignments</h3>
        <div id="assignment-items">
            {% if course.assignments.all|only_published:is_instructor|length == 0 %}
                <div class='assignment-item empty-assignment'>You have no annotation assignments in this course.</div>
            {% endif %}

            {% for assignment in course.assignments.all|only_published:is_instructor %}
                <div class='assignment-item item-{{forloop.counter0}}'>
                    <div class='first-row'>
                        <div style="float: left; min-width: 300px; width: 66%; margin-bottom: 10px;">
                        <i class='assignment-toggle fa fa-caret-right fa-lg' style='color:rgb(55, 124, 182);'></i>&nbsp;<span class='assignment-title'>{{assignment.assignment_name}}</span>
                        {% if not assignment.is_published %}<span class="assignment-unpublished">Unpublished</span>{% endif %}
                        </div>
                        <div style="float: left; min-width: 170px; width: 34%;">
                        {% if is_instructor %}
                            <a class='edit-assignment-button' href="{% url 'hx_lti_assignment:edit_assignment' id=assignment.pk %}?resource_link_id={{resource_link_id}}&{{utm_source_param}}"'><i class='fa fa-pencil' style='margin-right:4px'></i> Edit assignment</a>
                        {% endif %}
                        </div>
                    </div>
                    <div class='target-object-list item-{{forloop.counter0}}' style='display:none'>
                        {% if is_instructor %}
                            <div class='table-header table-row'>Source title</div>
                        {% endif %}
                        {% load order_by %}
                        {% for file in assignment.assignment_objects.all|order_by:"assignmenttargets" %}
                            <div class='table-row'>
                                {% if is_instructor %}
                                <span href='#' class='make-starting-resource' data-url="{% url 'hx_lti_initializer:change_starting_resource' assignment_id=assignment.assignment_id object_id=file.id %}?resource_link_id={{resource_link_id}}&{{utm_source_param}}" data-title='{{file.target_title}}'>
                                    {% if assignment.assignment_id == starter_collection_id and file.id == starter_object_id %}
                                    <i class='fa fa-check-square'></i>
                                    {% else %}
                                    <i class='fa fa-square-o'></i>
                                    {% endif %}
                                </span>
                                {% endif %}
                                <a href="{% url 'hx_lti_initializer:access_annotation_target' object_id=file.id course_id=course.course_id assignment_id=assignment.assignment_id %}?resource_link_id={{resource_link_id}}&{{utm_source_param}}">{{file.target_title}}</a>
                                {% if is_instructor %}
                                <a style="display:none;" style='float:right' href='#' class='setupButton' data-assignment-id="{{assignment.assignment_id}}" data-object-id="{{file.id}}" data-object-name="{{file.target_title}}">
                                    <i class='fa fa-cog' style='margin-right:4px'></i> Setup info
                                </a>
                                {% endif %}
                            </div>
                        {% endfor %}
                        {% if is_instructor %}
                            <div class='table-footer table-row delete-assignment-button' data-id='{{assignment.pk}}' data-delete-url="{% url 'hx_lti_assignment:delete_assignment' id=assignment.pk %}?resource_link_id={{ resource_link_id }}&{{utm_source_param}}" data-title="{{assignment.assignment_name|escape}}"><i class='fa fa-trash'></i> Delete assignment</div>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if is_instructor %}
        <div id="new-assignment-section" style='top:25px; position: relative;'>
            <a href="{% url 'hx_lti_assignment:create_new_assignment' %}?resource_link_id={{resource_link_id}}&{{utm_source_param}}" id="new-assignment-button" role="button">Create new assignment</a>
            or <a href="{% url 'hx_lti_assignment:import_assignment' %}?resource_link_id={{resource_link_id}}&{{utm_source_param}}" style='margin-left: 10px;'>import from another course</a>
        </div>
        {% endif %}
    {% endfor %}
    <script>
        jQuery('.assignment-item .first-row').click(function(event) {
            if (event.target.className !== 'edit-assignment-button') {
                var assignment_item = jQuery(this.parentElement);
                var assignment_item_arrow = assignment_item.find('.fa-lg');
                var to_list = assignment_item.find('.target-object-list');

                if (assignment_item.hasClass('open')) {
                    assignment_item_arrow.addClass('fa-caret-right');
                    assignment_item_arrow.removeClass('fa-caret-down');
                    to_list.hide();
                    assignment_item.removeClass('open');
                } else {
                    assignment_item_arrow.addClass('fa-caret-down');
                    assignment_item_arrow.removeClass('fa-caret-right');
                    to_list.show();
                    assignment_item.addClass('open');
                }
            }
        });

        jQuery('.delete-assignment-button').click(function(event){
            var $this = jQuery(this);
            var assignment_pk = $this.data('id');
            var assignment_title = $this.data('title');
            var url = $this.data('delete-url');

            var html='<div class="delete-popup-overlay"><div class="delete-popup-background"><h3>Delete this Assignment</h3><p>Are you sure you want to delete the assignment: <em>&quot;'+ assignment_title +'&quot;</em></p><p>Deleting this assignment will remove it from the course, and you will lose access to any annotations and instructions that were created.</p><p><input type="checkbox" id="delete-check"><label for="delete-check">I understand that deleting this assignment cannot be undone.</label></p><form action="'+url+'" method="post">'+'{% csrf_token %}'+'<div id="delete-popup-confirm" class="disabled" type="submit" role="button">Delete assignment</div><div id="delete-popup-cancel">Cancel</div></form></div></div>';
            jQuery('body').append(html);
            jQuery('#delete-check').change(function(){
                var isChecked = jQuery(this).prop('checked');
                var deleteButton = jQuery('#delete-popup-confirm');
                deleteButton[isChecked?'removeClass':'addClass']('disabled');
            });
            jQuery('#delete-popup-cancel').click(function() {
                jQuery('.delete-popup-overlay').remove();
            });
            jQuery('#delete-popup-confirm').click(function() {
                if (jQuery('#delete-check').prop('checked')) {
                    jQuery(this).parent('form').first().submit();
                };
            })
        });

        jQuery('.table-row .setupButton').click(function(event){
            var $this = jQuery(this);
            var assignment_id = $this.data('assignment-id');
            var object_id = $this.data('object-id');
            var object_name = $this.data('object-name');

            var html='<div class="delete-popup-overlay"><div class="source-material-setup-popup-background"><h3>Source Materials Setup Information</h3><p>These are the parameters for the source object: <em>'+ object_name +'</em></p><p>Make sure to add these values as "custom parameters" when setting up the LTI tool. This means this object will be shown to students when they view the tool. You only need to add the first item they will encounter, after that they can navigate through the rest of the assignment using the toolbar.</p><input class="hx-textfield readonlyfield" readonly value="collection_id='+ assignment_id +'"><input class="hx-textfield readonlyfield" readonly value="object_id='+object_id+'"><div id="delete-popup-cancel">Back to the assignments list</div></form></div></div>';
            jQuery('body').append(html);
            jQuery('#delete-check').change(function(){
                var isChecked = jQuery(this).prop('checked');
                var deleteButton = jQuery('#delete-popup-confirm');
                if (isChecked) {
                    deleteButton.removeClass('disabled');
                } else {
                    deleteButton.addClass('disabled');
                }
            });
            jQuery('#delete-popup-cancel').click(function() {
                jQuery('.delete-popup-overlay').remove();
            });
            jQuery('#delete-popup-confirm').click(function() {
                if (jQuery('#delete-check').prop('checked')) {
                    jQuery(this).parent('form').first().submit();
                };
            });
        });
        {% if is_instructor %}
        jQuery('body').on('click', '.make-starting-resource', function(event) {
            var old = jQuery('.make-starting-resource .fa-check-square');
            var selection = jQuery(this);
            var is_checked = selection.find('.fa').hasClass('fa-check-square');

            selection.find('.fa').addClass('fa-check-square').removeClass('fa-square-o');
            old.removeClass('fa-check-square').addClass('fa-square-o');

            var url = jQuery(this).data('url');
            var title = jQuery(this).data('title');
            var method = is_checked ? 'DELETE' : 'POST';
            var success = function(data) {
                console.log("starting_resource:", method, title, data);
                jQuery('.starting-resource-object').html(method == 'DELETE' ? 'None' : title);
                jQuery('.starting-resource-object-none')[method == 'DELETE' ? 'show' : 'hide']();
            };

            jQuery.ajax({
                method: method,
                url: url,
                async: true,
                success: success
            });
            return false;
        });
        {% endif %}
    </script>
{% endblock %}
