<!DOCTYPE html>
<html lang="en">
    <head>
        {% block beginningscripts %}{% endblock %}
        {% load staticfiles %}
        {% load list_of_ids %}
        {# Load the tag library #}
        {% load bootstrap3 %}

        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}

        {# Display django.contrib.messages as Bootstrap alerts #}
        {% bootstrap_messages %}

        {% block javascript %}{% endblock %}
        {% block cssfiles %}{% endblock %}

        {# library for dashboard templates #}
        <script src="{% static "vendors/development/underscore.js" %}"></script>
        {# library for "last updated X hours ago" for annotations #}
        <script src="{% static "vendors/development/jquery.timeago.js" %}"></script>
        {# library to guess timezone of user #}
        <script src="{% static "vendors/development/jstz.js" %}"></script>
        {# library to have dialog box come up to confirm whether user wants to delte or not #}
        <script src="{% static "vendors/development/bootstrap-confirmation.js" %}"></script>
        {# library for tokenizing tags #}
        <script src="{% static "vendors/development/jquery.tokeninput.js" %}"></script>

        {# files needed to run the HxAT #}
        <script src="{% static "AController.js" %}"></script>
        <script src="{% static "AnnotationMain.js" %}"></script>
        {% block annotationCore %}{% endblock %}
        <script src="{% static "AnnotationStoreController.js" %}"></script>
        <script src="{% static "DashboardController.js" %}"></script>
        <script src="{% static "DashboardView.js" %}"></script>
        <script src="{% static "TargetObjectController.js" %}"></script>

        {# stylesheet for icons, dashboard and instructions #}
        <link rel="stylesheet" href="{% static "vendors/development/css/font-awesome.css" %}">
        <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
        <link rel="stylesheet" href="{% static "css/instructions.css" %}">
        <link rel="stylesheet" href="{% static "css/annotation_base.css" %}">

        {% block tokeninputcss %}{% endblock %}
        <link rel="stylesheet" href="{{ custom_css }}">
        <title>{% block title %}Annotation Tool {% endblock %}</title>
    </head>
    <body>
    <div id="full-content">
        <nav role="navigation" id="navigationBar" aria-label="Annotation Tool">
            {% if is_instructor or org == "ATG" %}
                <a href="{% url 'hx_lti_initializer:course_admin_hub' %}" id="home" role="button" aria-label="Annotation Tool Assignment Hub"><i class="fa fa-home"></i></a>
            {% endif %}
            <div class="pagination">
                {% if prev_object %}
                    <a href="{% url 'hx_lti_initializer:access_annotation_target' course_id=course assignment_id=collection object_id=prev_object.target_object.id %}" class="btn btn-default" role="button" id="prev_target_object" aria-label="Move to previous document"><i class="glyphicon glyphicon-chevron-left"></i> Previous</a>
                {% endif %}
                {% if prev_object or next_object %}
                    <div class="pages" aria-label="You are in document {{assignment_target.order}} out of {{assignment.assignment_objects.count}}.">{{assignment_target.order}} / {{ assignment.assignment_objects.count }}</div>
                {% endif %}
                {% if next_object %}
                    <a href="{% url 'hx_lti_initializer:access_annotation_target' course_id=course assignment_id=collection object_id=next_object.target_object.id %}" class="btn btn-default" role="button" id="next_target_object" aria-label="Move to next document">Next <i class="glyphicon glyphicon-chevron-right"></i></a><br />
                {% endif %}
            </div>
            
            <div class="annotation-fullscreen" role="button" aria-label="Toggle Fullscreen Mode">
                <i class="fa fa-expand"></i>
            </div>
            {% block keyboardinput %}{% endblock %}
            {% if org == "HARVARDX" %}
                <div class="logo" aria-label="HarvardX Logo">
                    <img src="{% static "css/images/hx_inv.png" %}" style="height:40px;" />
                </div>
            {% endif %}
        </nav>

        {% block mainapplication %}{% endblock %}

        <section role="application" aria-label="Annotation Tool | Annotations List">
            <div id="dashboard" class="annotationListContainer"></div>
        </section>
    </div>

    <script>
        // options for the HxAT
        var options = {

            // this info will be shared among the various sections of the tool
            commonInfo: {
                context_id: "{{ course }}",
                collection_id: "{{ collection }}",
                object_id: {{ object }},
                token: "{{ token }}",
                username: "{{ username }}",
                user_id: "{{ user_id }}",
                is_instructor: "{{ is_instructor }}",
                pagination: {{ assignment.pagination_limit }},
            },

            // this should handle the colorization of the target
            annotationMainOptions: {
              {% if assignment.allow_highlights %}
              'highlightTags_options': "{{ assignment.highlights_options }}",
              {% endif %}
            },

            // this handles setting up the dashboard that collects the annotations
            dashboardControllerOptions: {
                annotationElement: jQuery("#dashboard"),
                initOptions: {
                    template_urls: '{% static "templates/dashboard/"%}',
                    showPublicPrivateSelectors: true,
                    showMediaSelector: false,
                    flags: false,
                    imageRootUrl: "{% static "vendors/catch/img"%}",
                    instructors: {{ assignment.course.course_admins| list_of_ids | safe}},
                    default_tab: "{{ assignment.default_tab }}",
                    instructions: "{{instructions | escapejs }}",
                    dashboard_hidden: {{dashboard_hidden}},
                    transcript_hidden: {{transcript_hidden}},
                    {% if focus_on_id %}
                    focus_on_annotation: {{focus_on_id}},
                    {% endif %}
                },
            },

            // this sets up the content itself (e.g. keyboard input)
            targetObjectOptions: {
                annotationElement: jQuery('#viewer'),
                transcript_download: {{transcript_download}},
                    video_download: {{video_download}},
            }
        };
        {% block extraOptions %}
        {% endblock %}

        AController(options);
      
        // Sends a message to canvas to resize the iframe so we don't have scrolling issues
        {% if org == 'ATG' %}
        $(document).ready(function() {
            var receiver = "https://canvas.harvard.edu";
            var message = {
                subject: "lti.frameResize",
                height: $(".fit-to-canvas").height()
            };
            console.log("sending message to receiver: ", message, receiver);
            window.parent.postMessage(JSON.stringify(message), receiver);
        }, 1000);
        {% endif %}

        // Checks to see if the user is coming from the instructor dashboard
        {% if focus_on_id %}
        $(document).ready(function(){
            setTimeout(function(){
                //if so we make sure to add just the annotation required
                var annotation = AController.dashboardObjectController.endpoint.getAnnotationById({{focus_on_id}});
                if (typeof annotation.highlights === "undefined") {
                    AController.dashboardObjectController.endpoint.loadMoreAnnotations([annotation]);
                }

                // if it's a text annotation, it should scroll down to it
                jQuery('html, body').animate({
                    scrollTop: jQuery(annotation.highlights[0]).offset().top + jQuery('#navigationBar').height(); },
                    'slow'
                );
            }, 1000);
          }, 1000);
        {% endif %}

        // Allows HxAT to work in fullscreen mode
        var toggleFullscreen = function () {
            var self = this;
            var enterFullscreen = function() {
              var el = document.documentElement;
              if (el.requestFullscreen) {
                el.requestFullscreen();
              } else if (el.mozRequestFullScreen) {
                el.mozRequestFullScreen();
              } else if (el.webkitRequestFullscreen) {
                el.webkitRequestFullScreen(Element.ALLOW_KEYBOARD_INPUT);
                if (!document.webkitCurrentFullScreenElement) {
                    el.webkitRequestFullscreen()
                }
              } else if (el.msRequestFullscreen) {
                el.msRequestFullscreen();
              }
            };

            var exitFullscreen = function() {
                if (document.exitFullscreen) {
                    document.exitFullscreen();
                } else if (document.mozCancelFullScreen) {
                    document.mozCancelFullScreen();
                } else if (document.webkitExitFullscreen) {
                    document.webkitExitFullscreen();
                }
                
            };

            var isFullscreen = function() {
              var $fullscreen = $(fullscreenElement());
              return ($fullscreen.length > 0);
            };

            var fullscreenElement = function() {
              return (document.fullscreenElement || document.mozFullScreenElement || document.webkitFullscreenElement);
            };

            fullscreenElement() ? exitFullscreen() : enterFullscreen();
        };
        jQuery('.annotation-fullscreen').click(toggleFullscreen);
    </script>
    {% block endscripts %}{% endblock %}
    </body>
</html>