<!DOCTYPE html>
{# Make sure to load static files, jquery, and bootstrap select #}
<html lang="en">
    <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    {% load bootstrap3 %}
    {% load static %}
    {% load hx_lti_initializer_extras %}
    <link rel="stylesheet" href="{% static "vendors/development/css/font-awesome.css" %}">
    <link rel="stylesheet" type="text/css" href="{% static "vendors/development/css/bootstrap-select.css" %}">
    {% bootstrap_css %}
    <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">
    <script src="{% static "vendors/development/jquery-1.12.4.js" %}"></script>
    <script src="{% static "vendors/development/bootstrap-select.js" %}"></script>
    {% block css_file %}{% endblock %}
    {% block javascript %}{% endblock %}

    <title>{% block title %}HarvardX Annotation Tool{% endblock %}</title>
    </head>
    <body>
        <!-- TODO: This should contain logo/name --> 
        <header class="header" role="banner">
            <div id='banner-logo-left'>
                {% if org == "HARVARDX" %}
                    <div class="logo" aria-label="HarvardX Logo" onclick="window.location='{% url "hx_lti_initializer:course_admin_hub" %}?resource_link_id={{ resource_link_id }}&{{utm_source_param}}'">
                        <img src="{% static "css/images/hx_inv.png" %}" aria-label='HarvardX Logo' style="height:40px;" />
                    </div>
                {% endif %}
                <div class="site-title">
                  <a href="{% url 'hx_lti_initializer:course_admin_hub' %}?resource_link_id={{ resource_link_id }}&{{utm_source_param}}">The HarvardX Annotation Tool</a>
                </div>
            </div>
            <!-- Broken off into two sections, information on the left and content on the right -->
            <nav class="navigation" role="navigation" aria-label="Main Menu">
                <a id="home" href="{% url 'hx_lti_initializer:course_admin_hub' %}?resource_link_id={{ resource_link_id }}&{{utm_source_param}}" class='selected'><i class="fa fa-home"></i>  Home</a>
                {% if is_instructor %}
                    {% get_annotation_manual  default_url="pages/instructor_manual/hxat-instructor-manual.html" default_target="_self" as annotation_manual %}
                    <a target="{{ annotation_manual.target }}" href="{{ annotation_manual.url }}">Manual</a>
                    {% if org == "ATG" %}
                    <a id="dashboard" role="button" href="{% url 'hx_lti_initializer:instructor_dashboard_view' %}?resource_link_id={{ resource_link_id }}&{{utm_source_param}}">Dashboard</a>
                    {% endif %}
                {% endif %}
            </nav>
        </header>

        <main class="container" role="main">
            {% if org != "HARVARDX" or is_instructor %}
                {% block content %}{% endblock %}	
                {% else %}
                <p></p>
                <p></p>
                {% if 'studio.edx' in request.META.HTTP_REFERER or 'studio.edge.edx' in request.META.HTTP_REFERER %}
                   You are in Studio, please use live or preview to access the admin hub.
                {% else  %}
                <p>Starting document not configured: Contact your instructor immediately.</p>
                {% endif %}
            {% endif %}
        </main>

        <!-- <footer role="contentinfo">
            <p style="text-align:center;">&copy; 2015 HarvardX</p>
        </footer> -->
        <script>{% get_lti_frame_resize_js %}</script>
    </body>
</html>
