<!DOCTYPE html>
{# Make sure to load static files, jquery, and bootstrap select #}
<head>
{% load staticfiles %}
<script src="{% static "vendors/development/jquery-1.9.1.js" %}"></script>
<script src="{% static "vendors/development/bootstrap-select.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "vendors/development/css/bootstrap-select.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}">

{# Load the tag library for bootsrap #}
{% load bootstrap3 %}

{# Load CSS and JavaScript for bootstrap #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
</head>
<body>
    <!-- TODO: This should contain logo/name --> 
    <div class="header">
        <div class="site-title">
            <a href="{% url 'hx_lti_initializer:course_admin_hub' %}">The HarvardX Annotation Tool</a>
        </div>
        <div class="user-greeting">Welcome, {{ user.username }}</div>
    </div>

    <!-- Broken off into two sections, information on the left and content on the right -->
    <div class="navigation">
        <a href="{% url 'hx_lti_initializer:course_admin_hub' %}">Home</a>
    </div>

    <div class="container">
	    {% block content %}{% endblock %}	
    </div>
</body>
