<!-- TODO: base template? Any common html that can be factored out. -->
<!-- Load static? -->
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

        {% load static from staticfiles %} {# Load the tag library #} {% load bootstrap3 %} {# Load CSS and JavaScript #} {% bootstrap_css %} {% bootstrap_javascript %} {# Display django.contrib.messages as Bootstrap alerts #} {% bootstrap_messages %}
        <script>
            $(document).ready(function() {
                $(".list-group-item").hover(
                    function() {
                        $(this).addClass("active");
                    },
                    function() {
                        $(this).removeClass("active");
                    }
                );
            });
            // TODO: make an onclick with bootstrap collapse for these thingies
            //$(this).addClass("collapse");
        </script>
        <!--TODO: factor all this common code out from the detail views. -->
        <script>
            function showDetail(caller, student_id) {
                //TODO: any way to template this?
                //loadAnnotationsForUser({{ user_id }});
                // TODO: no hard code
                console.log(student_id);
                $(caller).parent().append('\
                <table class="table table-hover">\
                    <thead>\
                        <tr>\
                            <th>Date</th>\
                            <th>Assignment Object</th>\
                            <th class="col-md-3">Line</th>\
                            <th>Annotation</th>\
                            <th>Tags</th>\
                        </tr>\
                    </thead>\
                    <tbody>\
                        <tr>\
                            <td>Today</td>\
                            <td>Assignment 2: Finnish Polka</td>\
                            <td>"Salivali hilly dilly finnish?"</td>\
                            <td>This course is cool</td>\
                            <td>Tag</td>\
                        </tr>\
                        <tr>\
                            <td>Yesterday</td>\
                            <td>Assignment 1: Zvezda</td>\
                            <td>"En tu balcon"</td>\
                            <td>Something something something something something something\
                                something something long annotation overachieving student something\
                                something one last thing this should look good.\
                                This student really likes annotating</td>\
                            <td>Tag</td>\
                        </tr>\
                        <tr>\
                            <td>10/34/12</td>\
                            <td>Assignment 2: Calle del Sol</td>\
                            <td>"Все не Так"</td>\
                            <td>Yea that\'s wack</td>\
                            <td>Tag</td>\
                        </tr>\
                    </tbody>\
                </table>');
            }
        </script>
        <title>Instructor Dashboard</title>
    </head>
    <body>
        <br/>
        <div class="container">{% include 'hx_lti_initializer/index_button.html' %}
        </div>
        <div class="container">
            <div class="col-md">
                <div id="student_list" class="list-group">
                    <br/> 
                    {% for student in students %}
                    <div>
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div data-toggle="collapse" data-parent="#accordion" href="#{{ students|get_item:student }}" class="panel-heading list-group-item" style="cursor: pointer;">
                                    <h4 class="panel-title">
                                {{ student }}
                            </h4>
                                </div>
                                <div id="{{ students|get_item:student }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <!-- TODO: make it just show automatically -->
                                        <div class="list-group-item" onclick="showDetail(this, '{{ students|get_item:student }}');" style="cursor: pointer;">
                                            Show Annotations
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
    </body>
</html>