{% extends 'hx_lti_initializer/base.html' %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
	<h3>Edit Course</h3>
	<form method="POST" class="post-form">{% csrf_token %}
		{{ form.non_field_errors }}
		<div class="form-group">
			<label for="id_course_name">Course name:</label> 
			<input id="id_course_name" maxlength="255" name="course_name" class="form-control" type="text" value="{{form.course_name.value}}">
		</div>
		<div class="form-group">
			<label for="id_course_admins">Course admins:</label> 
			<select class="form-control selectpicker" data-live-search="true" multiple id="id_course_admins" name="course_admins">
				{% for id,choice in form.fields.course_admins.choices %}
				<option value="{{ id }}" selected="selected">{{ choice }}</option>
				{% endfor %}
			</select> 
		</div>
		<div class="form-group">
			<label for="id_course_external_css_default">External CSS Default:</label> 
			<input id="id_course_external_css_default" maxlength="255" name="course_external_css_default" class="form-control" type="text" value="{{form.course_external_css_default.value}}">
		</div>
		{% buttons %}
		<button type="submit" class="save btn btn-primary">
		{% bootstrap_icon "star" %} Save
		</button>
		<a href="{% url 'hx_lti_initializer:course_admin_hub' %}" class="save btn btn-danger">
		{% bootstrap_icon "remove" %} Cancel
		</a>
		{% endbuttons %}
	</form>
{% endblock %}