<!DOCTYPE html>
<html lang="en">
    <head>
        {% load static %}
        {% load list_of_ids %}
        {# Load the tag library #}
        {% load hx_lti_initializer_extras %}

        {% block javascript %}{% endblock %}
        {% block cssfiles %}{% endblock %}
        <meta charset = "UTF-8">
        <title>{% block title %}Hx Annotation Tool{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{custom_css}}">
    </head>
    <body>
        <nav role="navigation" id="navigationBar" aria-label="Annotation Tool">
            {% if is_instructor or org == "ATG" %}
                <a href="{% url 'hx_lti_initializer:course_admin_hub' %}?resource_link_id={{ resource_link_id }}&utm_source={{utm_source}}" id="home" role="button" aria-label="Annotation Tool Assignment Hub"><i class="fa fa-home"></i></a>
            {% endif %}
            <div class="pagination">
                {% if prev_object %}
                    <a href="{% url 'hx_lti_initializer:access_annotation_target' course_id=course assignment_id=collection object_id=prev_object.target_object.id %}?utm_source={{utm_source}}&resource_link_id={{resource_link_id}}" class="btn btn-default" tabindex="0" role="button" onClick="AController.utils.logThatThing('clicked_previous_source_button', {}, 'harvardx', 'hxat');" id="prev_target_object" aria-label="Move to previous document"><i class="glyphicon glyphicon-chevron-left"></i> Previous</a>
                {% endif %}
                {% if prev_object or next_object %}
                    <div class="pages" aria-label="You are in document {{assignment_target.order}} out of {{assignment.assignment_objects.count}}.">{{assignment_target.order}} / {{ assignment.assignment_objects.count }}</div>
                {% endif %}
                {% if next_object %}
                    <a href="{% url 'hx_lti_initializer:access_annotation_target' course_id=course assignment_id=collection object_id=next_object.target_object.id %}?utm_source={{utm_source}}&resource_link_id={{resource_link_id}}" class="btn btn-default" tabindex="0" onClick="AController.utils.logThatThing('clicked_next_source_button', {}, 'harvardx', 'hxat');" role="button" id="next_target_object" aria-label="Move to next document">Next <i class="glyphicon glyphicon-chevron-right"></i></a><br />
                {% endif %}
            </div>
        </nav>

        {% block mainapplication %}{% endblock %}
    </body>

</html>