<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js">
</script>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<style>
.sidebar {
    text-align: center;
    border: 1px solid black;
    padding-right: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width:250px;
}

.sidebar-top {
    text-align: center;
    border: 1px solid black;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 0px;
    width:250px;
}

.sidebar-top #user-label {
    font-family: "arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.sidebar a {
    color:#66ccff;
    font-family: "arial", sans-serif;
    text-decoration:none;
    font-size: 13px;
}

.bar {
    width: 100%;
    border-bottom: 1px solid black;
}

.dashed-bar {
    border-bottom: 1px dashed black;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sidebar p {
    text-align: left;
}

.sidebar .label {
    color: #bbbbbb;
    text-transform: uppercase;
    font-family: "arial", sans-serif;
    font-size: 10px;
}

.header {
    width: 100%;
    height: 100px;
    border-bottom: 4px solid #66ccff;
    margin-bottom: 20px;
}

.section-header{
    color: #999999;
    text-transform: uppercase;
    font-family: "arial", sans-serif;
    font-size: 16px;
    font-weight: bold;
    border-bottom:1px solid #999999;
    margin-bottom: 10px;
}

.course-name {
    color: black;
    text-transform: uppercase;
    font-family: "arial", sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
}

td {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    font-family: "arial", sans-serif;
}

th {
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: "arial", sans-serif;
}

.settingslink {
    font-size: 12px;
    float: left;
    margin-top: -15px;
}

.leftfloat{
    margin-top: 4px;
    margin-left: -30px;
}

ul {
    text-align: left;
    font-size: 11px;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
}

#assignments > tbody > tr:nth-child(odd) > td {
    cursor: pointer;
}

#assignments > tbody > tr:nth-child(odd) > td:hover {
    background-color: #66ccff;
}

#assignments > tbody > tr:last-child > td:hover {
    background-color: inherit;
}

.expandicon {
    float: right;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_expand_more_48px-128.png);
}

.closeicon {
    float: right;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url(https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_up_48px-32.png);
    
}

.copypaste{
    padding: 20px;
    text-align: center;
    border: 1px solid;
    border-radius: 10px;
    background-color: rgba(0,5,54,0.1);
    margin-top: 20px;
    margin-bottom: 20px;
}

.copypaste p{
    text-align: center;
}

.copypaste pre {
    text-align: center;
}

</style>
<script>
    jQuery(document).ready(function(){
        jQuery('#assignments .clickable').click(function(event){
            $(event.currentTarget).find('span').toggleClass('closeicon expandicon');
        });
    });
    var printHelp = function(course_id, collection_id, object_id){
        var el = '#copypaste-' + course_id;
        jQuery(el).html("\
            <p>\
                In order to access the chosen object via LTI, make sure to add the following as custom parameters:\
            </p>\
            <pre>\
            collection_id="+collection_id+"\
            </pre>\
            <pre>\
            object_id="+object_id+"\
            </pre>\
        ");
        jQuery(el).addClass('copypaste');
    }
</script>
<div class="header">
</div>
<div class="container">
	<div class="row">
		<div class="col-md-3">
            <div class="sidebar-top">
			    <div id="user-label">{{ user.username }}</div>
            </div>
            <div class="sidebar">
			    <p>
                    <ul>
                        <li>To add a new course, simply initialize LTI tool as an administrator/instructor.</li>
                        <li>Change course settings to edit the name and any people to be considered "admins"</li>
                    </ul>
			    </p>
                <!--<div class="dashed-bar"></div>
                <div class="dashed-bar"></div>
                <p>
                    <a class="link" href="./tutorial">View Tutorial</a>
                </p>-->
             </div>
		</div>
		<div class="col-md-1"></div>
		<div class="col-md-8">
            <div class="section-header">
                Courses
            </div>
            {% for course in courses %}
            <div class="course-name">
                {{ course.course_name }}
            </div>
            {% if 'Administrator' in roles or 'Instructor' in roles %}
            <a class="settingslink" href="{{ course.get_admin_url }}" target="_blank">Change Course Settings</a>
            {% endif %}
            <div id="copypaste-{{course.id}}"></div>
            <table class="table table-striped" id="assignments">
                <tbody>
                    {% for assignment in course.assignment_set.all %}
                    <tr data-toggle="collapse" data-target="#target-objects-{{ assignment.id }}" class="clickable">
                        <td>
                            {% if 'Administrator' in roles or 'Instructor' in roles %}
                            <a class="settingslink leftfloat" href="{{ assignment.get_admin_url }}" target="_blank">Edit</a>
                            {% endif %}
                            {{ assignment.assignment_name }}
                            <span class="expandicon"></span>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="table table-striped collapse" id="target-objects-{{ assignment.id }}">
                                <thead>
                                    <tr>
                                        <th>
                                            Title
                                        </th>
                                        <th>
                                            Author
                                        </th>
                                        <th>
                                            Date Created
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for file in assignment.assignment_objects.all %}
                                    <tr>
                                        <td>
                                            {% if 'Administrator' in roles or 'Instructor' in roles %}
                                            <a class="settingslink leftfloat" href="{{ file.get_admin_url }}" target="_blank">Edit</a>
                                            {% endif %}
                                            <a href="#" onclick="printHelp('{{ course.id }}', '{{ assignment.assignment_id }}', '{{ file.id }}'); return false;">{{ file.target_title }}</a>
                                        </td>
                                        <td>
                                            {{ file.target_author }}
                                        </td>
                                        <td title="{{ file.target_created }}">
                                            {{ file.target_created | timesince }} ago
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td style="text-align:center;" colspan="3">
                                            <form action="/admin/hx_lti_todapi/targetobject/add/" method="get" target="_blank">
                                            {{ form.as_p }}
                                            {% buttons %}
                                                
                                                <button type="submit" class="btn btn-primary">
                                                  {% bootstrap_icon "star" %} Add New Source Material
                                                </button>
                                              {% endbuttons %}
                                            </form>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td style="text-align:center;">
                            <form action="/admin/hx_lti_assignment/assignment/add/" method="get" target="_blank">
                            {{ form.as_p }}
                            {% buttons %}
                                
                                <button type="submit" class="btn btn-primary">
                                  {% bootstrap_icon "star" %} Add New Assignment
                                </button>
                              {% endbuttons %}
                            </form>
                        </td>
                    </tr>
                </tbody>
            </table>
            {% endfor %}
		</div>
	</div>
</div>
