 <div class="selectors">
 	<div class="PublicPrivate myNotes active">
 		My Notes
 		<span class="action">myNotes</span>
 	</div>
    <div class="PublicPrivate public">
    	Public
    	<span class="action">public</span>
    </div>
</div>
<div class="searchbox">
	<div class="searchinst">Search</div>
	<select class="dropdown-list">
    	<option>Users</option>
    	<option>Tags</option>
    	<option>Annotation Text</option>
    </select>
    <input type="text" name="search"/>
    <div class="search-icon" alt="Run search."></div>
    <div class="clear-search-icon" alt="Clear search.">Clear</div>
</div>
    