<% if (media === 'text') {%>
<div class="annotationDetail">
<% } else if (media === 'video') { %>
<div class="annotationDetail videoAnnotationDetail">
<% } else if (media === 'image') { %>
<div class="annotationDetail imageAnnotationDetail">
<% } %>
    <div class="detailHeader">
        <span class="closeDetailIcon">
            <img src="<%= root %>/closeIcon.png" alt="Hide Details" />
        </span>
        <% var date = new Date(updated);%>
        Las updated  <% print(jQuery.timeago(date)); %> by <!--<a href="index.php?r=user/user/view&id={{{user.id}}}">--><%= user.name %><!--</a>--><% if (typeof geolocation !== 'undefined'){ %>, wrote from 
        <span class="geolocationIcon">
            <img src="<%= root %>/geolocation_icon.png"width="25" height="25" alt="Location Map" title="Show Location Map" data-dropdown="myLocationMap"/>
            <span class="idAnnotation" style="display:none"><%= id %></span>
            <span class="latitude" style="display:none"><%= geolocation.latitude %></span>
            <span class="longitude" style="display:none"><%= geolocation.longitude %></span>
        </span>
        <div id="myLocationMap" data-dropdown-content class="f-dropdown content">
            <div class="map"></div>
        </div>
        <% } %>
    </div>

    <% if (media === 'text') { %>
        <div class="quote">
            <div style="text-align: center">
            <div class="quoteItem">“</div><div class="quoteText"><%= quote %></div><div class="quoteItem">”</div></div>
            <span class="idAnnotation" style="display:none"><%= id %></span>
            <span class="uri" style="display:none"><%= uri %></span>
        </div>
    <% } else if (media === 'video') { %>
        <div class="playMediaButton">
            Play segment <%= rangeTime.start %> - <%= rangeTime.end %>
            <span class="idAnnotation" style="display:none"><%= id %></span>
            <span class="uri" style="display:none"><%= uri %></span>
            <span class="container" style="display:none"><%= target.container %></span>
        </div>
    <% } else if (media === 'image') { %>
        <div class="zoomToImageBounds">
            <img src="<%= thumbnailLink %>"/>
            <span class="idAnnotation" style="display:none"><%= id %></span>
            <span class="uri" style="display:none"><%= uri %></span>
        </div>
    <% } %>
        <div class="body">
            <%= text %>
        </div>

        <div class="controlReplies">
            <div class="newReply" style="text-decoration:underline">Reply</div>&nbsp;
            <div class="hideReplies" style="text-decoration:underline;display:<% if (hasReplies){ %>block<% } else { %>none<% } %>">Show Replies</div>&nbsp;
            <% if (authToEditButton) { %>
                <div class="editAnnotation" style="text-decoration:underline">Edit</div>
            <% } %>
            <% if (authToDeleteButton) { %>
                <div class="deleteAnnotation" style="text-decoration:underline">Delete</div>
            <% } %>
        </div>
        
        <div class="replies"></div>
        
        
    <% if (typeof tags !== 'undefined' && tags.length > 0 && tags[0] !== "") { %>
        <div class="tags">
            <h3>Tags:</h3>
            <% _.each(tags, function(tagItem){ %>
                <div class="tag">
                    <%= tagItem %>
                </div>
            <% }); %>
        </div>
    <% } %>

        <div class="controlPanel">
        </div>
    </div>