{% extends 'hx_lti_initializer/base.html' %}
{% load extra_options %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block content %}
{% load staticfiles %}
<script src="{% static "vendors/development/ExpandedRelatedObjectLookups.js" %}"></script>
<script src="{% static "vendors/development/jquery-ui.js" %}"></script>
<link rel="stylesheet" type="text/css" href="{% static "vendors/development/css/jquery-ui.css" %}">
<script src="{% static "vendors/development/summernote.js" %}"></script>
<link rel="stylesheet" href="{% static "vendors/development/css/summernote.css" %}">
<link rel="stylesheet" href="{% static "vendors/development/css/font-awesome.css" %}">
<link rel="stylesheet" href="{% static "vendors/Annotator/plugins/summernote-richtext-annotator.css" %}">
<link rel="stylesheet" href="{% static "css/assignments.css" %}">

	<script>
	jQuery(document).ready(function(){
		if (jQuery('#id_allow_highlights').is(':checked')){
			jQuery('#id_highlights_options').parent().parent().show();
		} else {
			jQuery('#id_highlights_options').parent().parent().hide();
		}
		if (!jQuery('#id_include_instructor_tab').is(':checked')){
			jQuery('#id_default_tab').find('option').first().addClass('hidden');
		}
		jQuery('#id_include_instructor_tab').change(function(event){
			if (jQuery('#id_include_instructor_tab').is(':checked')) {
				jQuery('#id_default_tab').find('option').first().removeClass('hidden');
			} else {
				jQuery('#id_default_tab').find('option').first().addClass('hidden');
			}
			
			jQuery('#id_default_tab').selectpicker('refresh');            
        });
        jQuery('#id_allow_highlights').change(function(event){
        	if (jQuery('#id_allow_highlights').is(':checked')){
				jQuery('#id_highlights_options').parent().parent().show();
			} else {
				jQuery('#id_highlights_options').parent().parent().hide();
				jQuery('#id_highlights_options').val("");	
			}
        });
        var rows = jQuery('.sortable tbody').find('tr');
    	var total_forms = rows.length;
		jQuery('#id_assignmenttargets_set-TOTAL_FORMS').attr("value", total_forms);
        var fixHelper = function(e, ui) {
			ui.children().each(function() {
				$(this).width($(this).width());
			});
			return ui;
		};
        jQuery('.sortable tbody').sortable({
        	helper: fixHelper,
        	stop: function(event, ui){
	        	var arr = jQuery('.sortable tbody').sortable('toArray');
	        	count = 1;
	        	jQuery(arr).each(function(index){
	        		var item = '#' + arr[index];
	        		//jQuery(item).find(".field-order > input").attr("value", count);
	        		if(arr[index].indexOf("assignmenttargets_set") == -1){
	        			count++;
	        		}
	        	});
	        	fixOrderNumbers();
	        },
        }).disableSelection();
        jQuery('.post-form').submit( function(e){
        	var target_object_list = []
        	items = jQuery('.field-target_object');
        	should_quit = false;
        	items.each(function(index){
        		name = jQuery(items[index]).find('div > button > span:visible').text();
        		if (jQuery.inArray(name, target_object_list) !== -1) {
        			jQuery('.sortable').css('outline', 'red 2px solid');
        			jQuery('.sortable').css('outline-offset', '5px');
        			jQuery('.sortable').prepend('<p style="color:red; font-size: 10pt;">You should not repeat source materials in the same assignment!</p>');
        			should_quit = true;
        		} else {
        			target_object_list.push(name);
        		}
        	});
        	if(should_quit){
        		return false;
        	}
        	return true;
        });

        jQuery('.mirador_option').change(function (e){
        	var orderNum = jQuery(e.target).attr('data-counter')
        	var viewtype = jQuery('#' + orderNum + '-target_options_view_type').val();
        	var canvas_id = jQuery('#' + orderNum + '-target_options_canvas_id').val();
        	var dashboard_hidden = jQuery('#' + orderNum + '-target_options_dashboard_hidden').is(":checked") ? "true" : "false";
        	var options = viewtype + "," + canvas_id + "," + dashboard_hidden;
        	console.log(options.replace(/undefined/g, ""));
        	jQuery('#id_assignmenttargets_set-' + orderNum + '-target_external_options').val(options.replace(/undefined/g, ""));
        });

        jQuery('select#id_course').val({{course_id}});
        jQuery('select#id_course').trigger("change");

        jQuery(document).ready(function(){
			setTimeout(function() {
				jQuery('.bs-searchbox input').on('keyup', function (e){ if (e.which === 40){jQuery('.dropdown-menu li:first-child a').focus();} });
				jQuery('.dropdown-menu li').on('keyup', function (e){ if (e.which === 32 || e.which === 13){jQuery(e.currentTarget).find('a').click();} });
				jQuery('.dropdown-menu li').attr('role', 'menuitem');
			}, 1000);
		});
    });
	
	var fixOrderNumbers = function(){
		var list_of_rows = jQuery('.sortable tbody').find('tr:visible');
		jQuery(list_of_rows).each(function(index){
			jQuery(jQuery(list_of_rows[index]).find(".field-order > input")).attr("value", index+1);
		});
	}

	var addNewSourceMaterial = function(){
    	var rows = jQuery('.sortable tbody').find('tr');
    	var new_item_id = rows.length;
    	var order = new_item_id + 1;
    	var html = '<tr id="'+order+'" class="ui-state-default assignment-targets-table-row new">\
			\
			<td class="field-target_object" >\
				<select id="id_assignmenttargets_set-'+new_item_id+'-target_object" name="assignmenttargets_set-'+new_item_id+'-target_object" class="selectpicker form-control" data-live-search="true">\
					{% for id,choice in form.fields.assignment_objects.choices %}\
					<option value="{{ id }}" {% if id in form.assignment_objects.value %} selected {% endif %}>{{ choice }}</option>\
			{% endfor %}\
				</select>\
				<div class="collapse" id="assignment-target-object-settings-'+new_item_id+'">\
						<label for="id_assignmenttargets_set-'+new_item_id+'-target_instructions">Instructions:</label>\
	<textarea id="id_assignmenttargets_set-'+new_item_id+'-target_instructions" name="assignmenttargets_set-'+new_item_id+'-target_instructions" class="form-control"></textarea>\
						<label for="id_assignmenttargets_set-'+new_item_id+'-target_external_css">Assignment CSS:</label>\
	<input id="id_assignmenttargets_set-'+new_item_id+'-target_external_css" maxlength="255" name="assignmenttargets_set-'+new_item_id+'-target_external_css" class="form-control" type="text" value="">\
						 		<label>Mirador View Type:</label>\
						 		<select class="selectpicker form-control mirador_option" data-counter="'+new_item_id+'" id="'+new_item_id+'-target_options_view_type">\
						 			<option value="ImageView" selected>\
						 			Single Image View\
						 			</option>\
						 			<option value="ThumbnailsView">\
						 			Thumbnails View\
						 			</option>\
						 			<option value="ScrollView">\
						 			Scroll View\
						 			</option>\
						 			<option value="BookView">\
						 			Book View\
						 			</option>\
						 		</select>\
						 		<label>Open to Page (Canvas ID):</label>\
						 		<input maxlength="255" id="'+new_item_id+'-target_options_canvas_id" data-counter="'+new_item_id+'" type="text" class="mirador_option form-control" value=""></input>\
								<textarea id="id_assignmenttargets_set-'+new_item_id+'-target_external_options" name="assignmenttargets_set-'+new_item_id+'-target_external_options" class="form-control hidden"></textarea>\
						 		<input id="'+new_item_id+'-target_options_dashboard_hidden" data-counter="'+new_item_id+'" type="checkbox" class="mirador_option form-control" value=""></input>\
						 		<label for="'+new_item_id+'-target_options_dashboard_hidden">Hide Dashboard on Load</label>\
					</div>\
			</td>\
			<td>\
				<a href="{% url "target_object_database:popUpNewSource" %}" class="add-another" id="add_id_assignmenttargets_set-'+new_item_id+'-target_object" onclick="return showAddAnotherPopup(this);" title="Create New Source Material">{% bootstrap_icon "plus" %}</a>\
			</td>\
			<td class="field-order hidden"><input id="id_assignmenttargets_set-'+new_item_id+'-order" name="assignmenttargets_set-'+new_item_id+'-order" value='+order+'></td>\
			<td class="field-settings clickable" role="button" data-toggle="collapse" data-target="#assignment-target-object-settings-'+new_item_id+'">{% bootstrap_icon "cog" %}</td>\
			<td class="field-delete"><a href=\'#\' onclick="deleterow(this)" title="Remove Source Material from Assignment">{% bootstrap_icon "trash" %}</a><input class="hidden" id="id_assignmenttargets_set-{{forloop.counter0}}-DELETE" name="assignmenttargets_set-{{forloop.counter0}}-DELETE" type="checkbox" /></td>\
			<td class="field-reorder">{% bootstrap_icon "option-vertical" %}</td>\
		</tr>';
		jQuery('.sortable tbody').append(html);
		jQuery('.selectpicker').selectpicker();
		jQuery('#id_assignmenttargets_set-TOTAL_FORMS').attr("value", order);
		fixOrderNumbers();
		jQuery('.dropdown-menu li').attr('role', 'menuitem');
    };
    var deleterow = function(link) {
    	jQuery(jQuery(link).parent().find('input')).prop('checked',true);
    	if (jQuery(link).parent().parent().hasClass("new")) {
    		jQuery(link).parent().parent().remove();
    	} else {
    		jQuery(link).parent().parent().addClass("hidden");
    	}
    	fixOrderNumbers();
    };


    </script>
    <style>
    	.sortable{
    		width: 100%;
    		margin-bottom: 20px;
    	}

    	.field-reorder {
    		text-align: center;
    		cursor: move;
    		width: 40px;
    	}

    	.field-delete {
    		text-align: center;
    		width: 50px;
    	}

    	.sortable > tbody > tr > td {
    		padding-top: 10px;
    		padding-bottom: 10px;
    		padding-left: 10px;
    	}
    </style>
	<h2>Assignment Form</h2>
	<form method="POST" class="post-form">{% csrf_token %}
		{% load crispy_forms_tags %}
		{{ form.management_form }}
		{% crispy form %}

		<table class="sortable">
			<thead>
			<tr>
				<td>
				<h2>Source Material</h2>
				<p>To add an existing source, hit the green "Add Source Materials" button and use the dropdown menu to select the source you are using. If you would like to create new source material, hit the {% bootstrap_icon "plus" %}" next to the new line instead of choosing from the drop down menu. Use the {% bootstrap_icon "cog" %} to set instructions, custom CSS, and mirador settings for that item. Hit the {% bootstrap_icon "trash" %} to remove the source material from this assignment (it does <b>not</b> delete the source material. Use the {% bootstrap_icon "option-vertical" %} to reorder the source material within this assignment.</p>
				</td>
			</tr>
			</thead>
			<tbody>
			{%for f in targets_form.management_form%}
			    {{f}}
			{%endfor%}
			{% if number_of_targets == 0 %}
			<tr id="1" class="ui-state-default assignment-targets-table-row new">
				
				<td class="field-target_object" >
					<select id="id_assignmenttargets_set-0-target_object" name="assignmenttargets_set-0-target_object" class="selectpicker form-control" data-live-search="true">
						{% for id,choice in form.fields.assignment_objects.choices %}
						<option value="{{ id }}" {% if id in form.assignment_objects.value %} selected {% endif %}>{{ choice }}</option>
						{% endfor %}
					</select>
					<div class="collapse" id="assignment-target-object-settings-0">
						<label for="id_assignmenttargets_set-0-target_instructions">Instructions:</label> 
	<textarea id="id_assignmenttargets_set-0-target_instructions" name="assignmenttargets_set-0-target_instructions" class="form-control"></textarea>
						<label for="id_assignmenttargets_set-0-target_external_css">Assignment CSS:</label> 
	<input id="id_assignmenttargets_set-0-target_external_css" maxlength="255" name="assignmenttargets_set-0-target_external_css" class="form-control" type="text" value="">
						 		<label>Mirador View Type:</label>
						 		<select class="selectpicker form-control mirador_option" data-counter="0" id="0-target_options_view_type">
						 			<option value="ImageView" selected>
						 			Single Image View
						 			</option>
						 			<option value="ThumbnailsView">
						 			Thumbnails View
						 			</option>
						 			<option value="ScrollView">
						 			Scroll View
						 			</option>
						 			<option value="BookView">
						 			Book View
						 			</option>
						 		</select>
						 		<label>Open to Page (Canvas ID):</label>
						 		<input maxlength="255" id="0-target_options_canvas_id" data-counter="0" type="text" class="mirador_option form-control" value=""></input>
						 		<input id="0-target_options_dashboard_hidden" data-counter="0" type="checkbox" class="mirador_option form-control" value=""></input>
						 		<label for="0-target_options_dashboard_hidden">Hide Dashboard on Load</label>
								<textarea id="id_assignmenttargets_set-0-target_external_options" name="assignmenttargets_set-0-target_external_options" class="form-control hidden"></textarea>
					</div>
				</td>
				<td>
					<a href="{% url "target_object_database:popUpNewSource" %}" class="add-another" id="add_id_assignmenttargets_set-0-target_object" onclick="return showAddAnotherPopup(this);" title="Create New Source Material">{% bootstrap_icon "plus" %}</a>
				</td>
				<td class="field-order hidden"><input id="id_assignmenttargets_set-0-order" name="assignmenttargets_set-0-order" value='1'></td>
				<td class="field-settings clickable" role="button" data-toggle="collapse" data-target="#assignment-target-object-settings-0">{% bootstrap_icon "cog" %}</td>
				<td class="field-delete"><a href='#' onclick="deleterow(this)" title="Remove Source Material from Assignment">{% bootstrap_icon "trash" %}</a><input class="hidden" id="id_assignmenttargets_set-0-DELETE" name="assignmenttargets_set-0-DELETE" type="checkbox" /></td>
				<td class="field-reorder">{% bootstrap_icon "option-vertical" %}</td>
			</tr>
			{% endif %}
			{% for item in targets_form %}
				{% if forloop.counter0 < number_of_targets %}
					<tr id="{{forloop.counter}}" class="ui-state-default assignment-targets-table-row">
						<td class="field-target_object" >
							<select id="id_assignmenttargets_set-{{forloop.counter0}}-target_object" name="assignmenttargets_set-{{forloop.counter0}}-target_object" class="selectpicker form-control" data-live-search="true">
								{% for id,choice in form.fields.assignment_objects.choices %}
								<option value="{{ id }}" {% if id|slugify == item.target_object.value|slugify %} selected {% endif %}>{{ choice }}</option>
								{% endfor %}
							</select>
							<div class="collapse" id="assignment-target-object-settings-{{forloop.counter0}}">
								<label for="id_assignmenttargets_set-{{forloop.counter0}}-target_instructions">Instructions:</label> 

			<textarea id="id_assignmenttargets_set-{{forloop.counter0}}-target_instructions" name="assignmenttargets_set-{{forloop.counter0}}-target_instructions" class="form-control">{{ item.target_instructions.value }}</textarea>
								<label for="id_assignmenttargets_set-{{forloop.counter0}}-target_external_css">Assignment CSS:</label> 
			<input id="id_assignmenttargets_set-{{forloop.counter0}}-target_external_css" maxlength="255" name="assignmenttargets_set-{{forloop.counter0}}-target_external_css" class="form-control" type="text" value="{{ item.target_external_css.value }}">
								{% for choice in form.fields.assignment_objects.queryset %}
								 {% if choice.id == item.target_object.value %} 
								 	{% if choice.target_type == "ig" %}
								 		<label>Mirador View Type:</label>
								 		<select class="selectpicker form-control mirador_option" data-counter="{{forloop.parentloop.counter0}}" id="{{forloop.parentloop.counter0}}-target_options_view_type">
								 			{% captureas selected_view %}{{ item.target_external_options.value|just_the_view_type }}{% endcaptureas %}
								 			<option value="ImageView" {% if selected_view == "ImageView"%} selected {% endif %}>
								 			Single Image View
								 			</option>
								 			<option value="ThumbnailsView" {% if selected_view == "ThumbnailsView"%} selected {% endif %}>
								 			Thumbnails View
								 			</option>
								 			<option value="ScrollView" {% if selected_view == "ScrollView"%} selected {% endif %}>
								 			Scroll View
								 			</option>
								 			<option value="BookView" {% if selected_view == "BookView"%} selected {% endif %}>
								 			Book View
								 			</option>
								 		</select>
								 		<label>Open to Page (Canvas ID):</label>
								 		<input maxlength="255" id="{{forloop.parentloop.counter0}}-target_options_canvas_id" data-counter="{{forloop.parentloop.counter0}}" type="text" class="mirador_option form-control" value="{{item.target_external_options.value|just_the_canvas_id}}"></input>
										
								 	{% endif %} 
								 {% endif %}
								{% endfor %}
								<input id="{{forloop.counter0}}-target_options_dashboard_hidden" type="checkbox" {% if item.target_external_options.value|just_dashboard_hidden %} checked {% endif %} class="mirador_option" data-counter="{{forloop.counter0}}"></input>
								<label for="{{forloop.counter0}}-target_options_dashboard_hidden">Hide Dashboard on Load</label>
								<textarea id="id_assignmenttargets_set-{{forloop.counter0}}-target_external_options" name="assignmenttargets_set-{{forloop.counter0}}-target_external_options" class="form-control hidden">{{ item.target_external_options.value }}</textarea>
							</div>
						</td>
						<td>
							<a href="{% url "target_object_database:popUpNewSource" %}" class="add-another" id="add_id_assignmenttargets_set-{{forloop.counter0}}-target_object" onclick="return showAddAnotherPopup(this);" title="Create New Source Material">{% bootstrap_icon "plus" %}</a>
						</td>
						<td class="field-order hidden"><input id="id_assignmenttargets_set-{{forloop.counter0}}-order" name="assignmenttargets_set-{{forloop.counter0}}-order" value='{{item.order.value}}'></td>
						<td class="field-settings clickable" data-toggle="collapse" data-target="#assignment-target-object-settings-{{forloop.counter0}}" role="button">{% bootstrap_icon "cog" %}</td>
						<td class="field-delete"><a href='#' onclick="deleterow(this)" title="Remove Source Material from Assignment">{% bootstrap_icon "trash" %}</a>{% if item.instance.pk and targets_form.can_delete%} <input class="hidden" id="id_assignmenttargets_set-{{forloop.counter0}}-DELETE" name="assignmenttargets_set-{{forloop.counter0}}-DELETE" type="checkbox" />{% endif %}</td>
						<td class="field-reorder">{% bootstrap_icon "option-vertical" %}
						{% if item.id.value %}
						<input class="hidden" id="id_assignmenttargets_set-{{forloop.counter0}}-id" name="assignmenttargets_set-{{forloop.counter0}}-id" value='{{item.id.value}}'>
						{% endif %}
						</td>
					</tr>
				{% endif %}
			{% endfor %}
			</tbody>
			<tfoot>
			<tr>
			<td colspan="5">
			{% buttons %}
		<a href="#" class="save btn btn-success" style="width:100%" onclick="addNewSourceMaterial(); return false;" role="button">
		{% bootstrap_icon "plus" %} Add Source Materials
		</a>
		{% endbuttons %}
			</td>
			</tr>
			</tfoot>
		</table>
		
		{% buttons %}
		<button type="submit" class="save btn btn-primary" role="button">
		{% bootstrap_icon "star" %} Save
		</button>
		<a href="{% url 'hx_lti_initializer:course_admin_hub' %}" class="save btn btn-danger" role="button">
		{% bootstrap_icon "remove" %} Cancel
		</a>
		{% endbuttons %}

	</form>
{% endblock %}