{% extends 'hx_lti_initializer/base.html' %}

{% block content %}
{% load bootstrap3 %}
{% bootstrap_javascript %}
<h2>Import Assignments from Another Course</h2>

<label class='subheading' for='import-course-chosen'>Course:</label>
<select class='selectpicker form-control full-width' id='import-course-chosen' data-live-search="true">
	<option value="">-----------</option>
{% for course in courses %}
	{% if course.id != current_course_id %}
	<option value="{{course.id}}" data-assignments-url="{% url 'hx_lti_assignment:assignments_from_course' course_id=course.id %}?resource_link_id={{ resource_link_id }}&{{utm_source_param}}">{{course.course_name}} ({{course.course_id}})</option>
	{% endif %}
{% endfor %}
</select>

<div class='assignment-choices'  style='display:none;'>
	<div class='subheading'>Assignments</div>
	<div class='check-uncheck'><a href='#' onclick='jQuery("input[type=checkbox]").prop("checked", "checked")'>check all</a> / <a href='#' onclick='jQuery("input[type=checkbox]").prop("checked", false)'>uncheck all</a> 
	</div>
	<div class='assignment-list'>
	</div>
	<div class='subheading' style="display: block;">Import annotations</div>
	<div class='import-choices' style="display: block;">
		<input type='radio' class='form-control' name='import-choice' value='inst' id='inst' ><label for='inst'>Instructor only</label>
		<input type='radio' class='form-control' name='import-choice' value='none' id='none' checked><label for='none'>None</label>
	</div>
</div>
<div class='button-collection'>
	<div type="submit" class="save" id='import-button' role="button" style='display:block;'>
		Import
	</div>
	<div class="save" id='import-cancel' role='button' onclick='window.location="{% url "hx_lti_initializer:course_admin_hub" %}?resource_link_id={{ resource_link_id }}&{{utm_source_param}}"'>
		Cancel
	</div>
</div>
<div class='progress-bar' style='display:none;'>
	<div class='errors' style='display:none;'></div>
	<label for='pBar' id='pBar-label' style='display:none;'><strong>Adding assignments:</strong><br> 0%</label>
	<progress max="100" value="0" id='pBar' style='display:none;'>
	</progress>
	<div class='current-progress' style='display:none;'></div>
	
</div>

<script>
var base_transfer_annotations_url = "{% url 'annotation_store:api_transfer_annotations' %}";
var current_course_id = "{{current_course_id}}";
var csrfmiddlewaretoken = "{{ csrf_token}}";
var resource_link_id = "{{ resource_link_id }}&{{utm_source_param}}"
    
jQuery(document).ready(function() {
	setTimeout(function(){
		if (window.navigator.platform === "Win32") {
			jQuery('.bootstrap-select.form-control').addClass('win');
		}
		if (window.navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
			jQuery('.bootstrap-select.form-control').addClass('firefox');
		}
	}, 500);
    
	jQuery('#import-course-chosen').change(function(event) {
		var selected_option = jQuery(this).find('option:selected');
		var course_id = selected_option.val();
		var assignments_url = selected_option.data('assignments-url');
		console.log("Import course ID: ", course_id);

		jQuery('.assignment-list').html('');
		var options = {
			url: assignments_url,
			success: function(data) {
				jQuery.each(data, function(index, assignment){
					var html = "<div class='assignment'><input class='form-control' data-id='"+assignment.pk +"' type='checkbox' id='assignment-" + index + "' checked>";
					html += "<label for='assignment-" + index +"'>";
					html += assignment.fields.assignment_name;
					html += "</label></div>";
					jQuery('.assignment-list').append(html);
				});
				jQuery('.assignment-choices').show();
				jQuery('#import-button').show();
			},
			error: function(jqXhr, textStatus) {
				console.log("Error getting assignments from course: " , textStatus);
			},
			async: true
		};
		jQuery.ajax(options);
	});
	
	jQuery('#import-button').click(function(event) {
		jQuery('#import-button').addClass('requested');
		jQuery('#import-cancel').html('Done');
		jQuery('#pBar').show();
		jQuery('.progress-bar').show();
		jQuery('#pBar-label').show();
		jQuery('.current-progress').show();

		var checked_elements = jQuery('input[id^="assignment-"]:checked');
		var progress = (100.0/checked_elements.length);
		var import_from_course_id = jQuery('#import-course-chosen').find('option:selected').val();
		var import_annotations = jQuery('input[name="import-choice"]:checked').val();
		console.log("Starting import. Import annotations choice: ", import_annotations);
		
		jQuery.each(checked_elements, function(index, element) {
			var assignment_id = jQuery(element).data('id');
			var assignment_import_url = '/lti_init/launch_lti/assignment/' + import_from_course_id + '/' + current_course_id + '/' + assignment_id + '/import?resource_link_id=' + resource_link_id;
			console.log("Importing assignment ID: ", assignment_id, "URL:", assignment_import_url);

			var options = {
				url: assignment_import_url,
				success: function(data) {
					console.log("Successfully imported assignment ID: ", assignment_id, "Data: ", data);
					var perc = jQuery('#pBar').val() + progress;
						jQuery('#pBar').val(perc);
						jQuery('#pBar-label').html('<strong>Adding assignments:</strong><br> ' + parseInt(perc, 10) + '%');
					if (data['message'] !== undefined) {
						jQuery('.errors').html("<p> <i class='fa fa-warning'></i> " + data['message'] + " Your assignments may not have been imported correctly. Note which were not imported correctly below and double check them before setting to live.</p>");
						jQuery('.errors').show();
					} else {
						jQuery('.current-progress').prepend(parseInt(perc, 10) + "% . . . &quot;" + data['assignment_name'] + "&quot; -- Successfully added to current course<br>");
						if(import_annotations != "none") {
							var instructor_only = (import_annotations === "inst" ? "1" : "0");
							var transfer_annotations_url = base_transfer_annotations_url + data["old_assignment_id"] + "?resource_link_id=" + resource_link_id;
							var finaldata  = jQuery.extend({}, data, {'csrfmiddlewaretoken': csrfmiddlewaretoken});
							console.log("Starting import of annotations for assignment ID: ", assignment_id);
							jQuery.ajax({
								url: transfer_annotations_url,
								data: finaldata,
								success: function (data) {
										console.log("Successfully imported annotations for assignment ID: ", assignment_id, "Data: ", data);
								},
								error: function(jqXhr, textStatus, errorThrown) {
										console.log("Error transferring annotations: ", textStatus);
								},
								type: "POST",
								dataType: 'json'
							});
						}
					}
				},
				async: true
			};
			jQuery.ajax(options);
		});
	});
});
</script>
{% endblock %}
