/*This is written to fix some design problems with edX*/
.annotatable-wrapper .annotatable-header .annotatable-title{
    padding-top: 20px !important;
}

.annotator-wrapper .annotator-adder button {
        opacity:0;
}
.annotator-editor a, .annotator-filter .annotator-filter-property label{
        line-height: 24px !important;
        color: #363636 !important;
        font-size: 12px!important;
        font-weight: bold !important;
        text-shadow: none !important;
}
.annotator-outer ul {
        list-style: none !important;
        padding-left: 0em !important;
}
.annotator-outer li {
        margin-bottom: 0em!important;
}
.vjs-rangeslider-holder span.vjs-time-text{
        line-height: 1!important;
        float: left;
}
span.annotator-hl{
	font:inherit;
}
.vjs-has-started .vjs-loading-spinner {
	display: none!important;
}