{% extends 'hx_lti_initializer/annotation_base.html' %}

{% load staticfiles %}
{% load list_of_ids %}
{% block beginningscripts %}
<script src="{% static "vendors/development/jquery-1.9.1.js" %}"></script>
<link rel="stylesheet" href="{% static "vendors/Annotator/annotator.css" %}">
{% endblock %}

{% load bootstrap3 %}
{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block javascript %}
<script src="{% static "vendors/development/json2.js" %}"></script>
<script src="{% static "vendors/development/summernote.js" %}"></script>
<script src="{% static "vendors/Annotator/annotator-full.js" %}"></script>
<script src="{% static "vendors/Annotator/plugins/summernote-richtext-annotator.js" %}"></script>
<script src="{% static "vendors/Annotator/plugins/highlightTags-annotator.js" %}"></script>
<script src="{% static "vendors/Annotator/plugins/reply-annotator.js" %}"></script>
{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" href="{% static "vendors/development/css/summernote.css" %}">
<link rel="stylesheet" href="{% static "vendors/Annotator/plugins/summernote-richtext-annotator.css" %}">
{% endblock %}

{% block annotationCore %}
<script src="{% static "AnnotationCore.js" %}"></script>
{% endblock %}

{% block tokeninputcss %}
<link rel="stylesheet" href="{% static "vendors/development/css/token-input.css" %}">
{% endblock %}

{% block title %}
Annotation Tool | Text | {{ target_object.target_title }}
{% endblock %}

{% block keyboardinput %}
<div role="button" aria-label="Use Keyboard Input to make annotations. To make an annotation, click the 'Make an Annotation' button. You will be taken to back to the content where you can add an asterisk (*) to the beginning and an asterisk(*) to the end of the area you would like to select. Make sure not to edit any other parts of the text! Then hit the 'Save Highlights' button." class="fa fa-keyboard-o" title="Make annotations using keyboard input" id="keyboard-input-toggle-text"></div>
{% endblock %}

{% block mainapplication %}
<section role="application" aria-label="Annotation Tool Text Content">
	<div  id="viewer" class="test" style="padding:50px 75px;" class="fit-to-canvas">
		<div class="annotations-status on" role="button" aria-labeledby="annotations-status-label"><i class="fa fa-close"></i> <span role="tooltip" id="annotations-status-label" class="hover-inst hidden">Hide Annotations</span></div>
		{% if org = 'ATG' %}
      		<div class="navigation">
                <a href="{% url 'hx_lti_initializer:course_admin_hub' %}">Home</a>
          	</div>
        {% endif %}
        <div class="instructions-container" style="display:{% if instructions or instructions != '' %}block{% else %}none{% endif %};">
        	<div class="instructions-title">
            	Instructions
	            <span href="#" class="toggle-instructions" role="button" data-toggle="collapse" data-target=".instructions-body" id="toggle-instructions" aria-controls="annotation-instructions">Collapse Instructions</span>
          	</div>
        	<section class="instructions-body collapse in" aria-expanded="true" aria-live="polite" id="annotation-instructions">{{instructions | safe}}</section>
        </div>
        <h1>{{ target_object.target_title | safe }}</h1>
	    {% if target_object.target_author != "None" %}
		    <h3>by {{ target_object.target_author | safe }}</h3>
	    {% endif %}
	    <div class="content">
		    {{ target_object.target_content | safe }}
	    </div>
    
	    <section id="make_annotations_panel" class="hidden" role="region" aria-label="Make annotations using keyboard input">
	    	<h2>Make Annotations using Keyboard input</h2>
      		<div aria-label="Read instructions on making annotation:">To make an annotation, click the "Make an Annotation" button. You will be taken to back to the content where you can add an asterisk (*) to the beginning and an asterisk(*) to the end of the area you would like to select. Make sure not to edit any other parts of the text! Then hit the "Save Highlights" button. Warning: this will turn off selection using the mouse to make annotations.</div>
      		<div class="hidden" id="annotation-maker">
        		<label for="id_annotation_text_screen_reader">Enter annotation for highlighted section:
          			<input type="text" id="id_annotation_text_screen_reader"/>
        		</label>
		        <label for="id_annotation_tag_screen_reader">Enter tags for this annotation (separate tags with a single space):
		        	<input type="text" id="id_annotation_tag_screen_reader" />
		        </label>
      		</div>
      		<button role="button" class="btn btn-default" data-toggled="false">Make an annotation</button>
	    </section>
	    {% if target_object.target_citation != "None" %}
    		<div class="citation" style="margin-top:20px;">
    			<i>{{ target_object.target_citation }}</i>
    		</div>
    	{% endif %}
      </div>
	</div>
</section>
{% endblock %}

{% block extraOptions %}
  // makes sure that the HxAT also instantiates Annotator for the text tool
  options.commonInfo.mediaType = 'text';
  options.annotationCoreOptions = {
    annotationElement: jQuery(".content"),
    initOptions: {
      'plugins': [
        // order matters, auth before store
        'Auth',
        'Permissions',
        'Store',
        'SummernoteRichText',
        {% if assignment.allow_highlights %}
        'HighlightTags',
        {% endif %}
        //'RichText',
        'Reply',
        //'Accessibility',
        //'Touch',
      ],
      'database_url': "/lti_init/annotation_api",
      'citation': "{{ target_object.target_citation | escapejs }}",
      {% if assignment.allow_highlights %}
      'highlightTags_options': "{{ assignment.highlights_options }}",
      {% endif %}
      'showViewPermissionsCheckbox': {% if org == 'ATG' %}true{% else %}false{% endif %}
    },
  };
{% endblock %}
