<div class="resize-handle side">
    <div class="handle-button" title="Hide/Show dashboard" aria-labeledby="sidebar-hide-sidebar-instructions" role="button"><i class="fa fa-arrow-right"></i></div>
</div>
<div class="annotationSection side">
    <div class="group-wrap">
        <div class="annotation-fullscreen" role="button" aria-labeledby="sidebar-annotation-fullscreen">
            <i class="fa fa-expand"></i>
        </div>
        <div class="fullscreen-label" id="sidebar-annotation-fullscreen">Toggle Fullscreen Mode</div>
        <div class="annotation-instructions" role="button" aria-labeledby="sidebar-annotations-instructions">
            <img src="/static/css/images/info28.png" alt="Show annotation instructions" style="width: 20px;height: 20px; float: right;" aria-labeledby="sidebar-annotations-instructions"/>  
        </div>
        <div class="title" id="sidebar-annotations-instructions">View Annotation Instructions</div>
        <div class="hide_label" id="sidebar-hide-sidebar-instructions">Click to hide/show sidebar</div>
        <div class="annotation-filter-buttons btn-group">
        	<button type="button" class="btn user-filter" id='mynotes' aria-label="View only my annotations" role="button">My Notes</button>
        	<button type="button" class="btn user-filter" id='instructor' aria-label="View only instructor annotations" role="button">Instructor</button>
        	<button type="button" class="btn user-filter" id='public' aria-label="View everybody's annotations" role="button">Public</button>
        </div>
    </div>
    <div class="separator-solid side"></div>
    <div class="search-bar side">
        <div id="search-info" style="display:none">The following allows you to search annotations. The default filter is to search for a username, but make sure to change filter to annotation text or tag for other types of searches.</div>
    	<div class="input-group">
            <label for="srch-term" id="searchlabel" class="hidden">Search annotations:</label>
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term" aria-describedby="search-info" aria-labeledby="searchlabel">
            <div class="input-group-btn">
                <button title="Search" class="btn btn-default" type="submit" id="search-submit" role="button" aria-label="Submit search"><i class="glyphicon glyphicon-search"></i></button>
                <button title="Clear" class="btn btn-default" type="clear" id="search-clear" role="button" aria-label="Clear search input"><i class="glyphicon glyphicon-ban-circle"></i></button>
            </div>
        </div>
    </div>
    <div class="filter-options side">
        <div class="search-label">Search by:</div>
    	<div class="btn-group">
            <button type="button" class="btn btn-default query-filter" id="users-filter" aria-label="Search by username">Users</button>
            <button type="button" class="btn btn-default query-filter" id="annotationtext-filter" aria-label="Search by annotation content">Annotation Text</button>
            <button type="button" class="btn btn-default query-filter" id="tag-filter" aria-label="Search by annotation tag">Tag</button>
        </div>
    </div>
    <div class="annotationsHolder side" role="list" aria-label="annotations list">
		<% _.each(annotationItems, function(item) { %>
			<%= item %>
		<% }); %>
	</div>
</div>