<div class="resize-handle side"><div class="handle-button" title="Hide/Show dashboard" role="button"><i class="fa fa-arrow-right"></i></div></div>
<div class="annotationSection side">
    <div class="group-wrap">
        <div class="annotation-instructions">
            <div class="title">View Annotation Instructions</div>
            <img src="/static/css/images/info28.png" style="width: 20px;height: 20px;text-align: left;" />
        </div>
        <div class="annotation-filter-buttons btn-group">
        	<button type="button" class="btn user-filter" id='mynotes'>My Notes</button>
        	<button type="button" class="btn user-filter" id='instructor'>Instructor</button>
        	<button type="button" class="btn user-filter" id='public'>Public</button>
        </div>
    </div>
    <div class="separator-solid side"></div>
    <div class="search-bar side">
    	<div class="input-group">
            <label for="srch-term" class="hidden">Search annotations:</label>
            <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
            <div class="input-group-btn">
                <button title="Search" class="btn btn-default" type="submit" id="search-submit"><i class="glyphicon glyphicon-search"></i></button>
                <button title="Clear" class="btn btn-default" type="clear" id="search-clear"><i class="glyphicon glyphicon-ban-circle"></i></button>
            </div>
        </div>
    </div>
    <div class="filter-options side">
        <div class="search-label">Search by:</div>
    	<div class="btn-group">
            <button type="button" class="btn btn-default query-filter" id="users-filter">Users</button>
            <button type="button" class="btn btn-default query-filter" id="annotationtext-filter">Annotation Text</button>
            <button type="button" class="btn btn-default query-filter" id="tag-filter">Tag</button>
        </div>
    </div>
    <div class="annotationsHolder side">
		<% _.each(annotationItems, function(item) { %>
			<%= item %>
		<% }); %>
	</div>
</div>