<% if (annotations) { %>
    <% annotations.forEach(function(item) { %>
    <blockquote class="replyItem" annotationId="<% this.id %>" style="font-size:90%">
        <p>
            On  <%= item.updated %>, <%= item.user.name %>
            <span class="idAnnotation" style="display:none"><%= item.id %>
            <% if (typeof item.geolocation !== 'undefined') { %> 
            wrote from
            <span class="geolocationIcon">
                <img src="geolocation_icon.png"width="25" height="25" alt="Location Map" title="Show Location Map" data-dropdown="myLocationMap"/>
                </span>
                    <span class="latitude" style="display:none"><%= item.geolocation.latitude %></span>
                    <span class="longitude" style="display:none"><%= item.geolocation.longitude %></span>
                
            </span>
            <div id="myLocationMap" data-dropdown-content class="f-dropdown content">
                <div class="map"></div>
            </div>
            <% } %>
            <div class="deleteReply">Delete</div>
        </p>
        <p>
            <%= item.text %>
        </p>
    </blockquote>
    <% }); %>
<% } %>