<div class="annotationItem item-<%= id %> side" role="listitem" aria-label="annotation">
    <span class="idAnnotation"><%= id %></span>
    <div class= "annotatedBy field side" aria-label="Annotation created by <%= user.name %>">
        <%= user.name %>
    </div>
    <% var date = new Date(updated); %>
    <div class="annotatedAt field side" title="<% print(date) %>" aria-label="last updated <% print(jQuery.timeago(date)); %>">
        last updated <% print(jQuery.timeago(date)); %>
    </div>
    <% if (media === 'text') {%>
        <div class="quote field side">
            <div class="quoteText" aria-label="Excerpt selected for this annotation"><%= quote %></div>
            <span class="uri" style="display:none"><%= uri %></span>
        </div>
    <% } else if (media === 'image' && thumbnail) {%>
        <div class="zoomToImageBounds">
            <img class="annotation-thumbnail" src="/static/css/images/loading.gif" data-src="<%= thumbnail %>" onError="this.onerror=null;this.src='/static/css/images/image-error.png';"/>
            <span class="idAnnotation" style="display:none"><%= id %></span>
            <span class="uri" style="display:none"><%= uri %></span>
        </div>
    <% } %>
    <div style="display:none;" id="annotationTextLabel">Annotation text</div>
    <div class="body field side" aria-describedby="annotationTextLabel">
        <%= text %>
    </div>
    
    <div class="totalreplies field side" role="button" aria-label="Make or view replies to this annotation">
        <span class="glyphicon glyphicon-comment"></span>
        <span class="replyNum"> <%= totalComments %> </span>
    </div>
    <% if (typeof tags !== "undefined") { %>
        <div class="tagList field side">
            <% _.each(tags, function(tagItem){ %>
                <div class="tag side" aria-label="tag: <%= tagItem %>">
                    <%= tagItem %>
                </div>
            <% }); %>
        </div>
    <% } %>
    
</div>
