<div class="annotationItem item-<%= id %> side">
    <span class="idAnnotation"><%= id %></span>
    <div class= "annotatedBy field side">
        <%= user.name %>
    </div>
    <% var date = new Date(updated); %>
    <div class="annotatedAt field side" title="<% print(date) %>">
        last updated <% print(jQuery.timeago(date)); %>
    </div>

    <div class="quote field side">
        <div class="quoteText"><%= quote %></div>
        <span class="uri" style="display:none"><%= uri %></span>

    </div>
    
    <div class="body field side">
        <%= text %>
    </div>
    
    <div class="totalreplies field side">
        <% if(totalComments === 0) { %>
            Make New Reply
        <% } else { %>
            View <%= totalComments %> Replies
        <% } %>
    </div>
    
    <div class="tagList field side">
        <% _.each(tags, function(tagItem){ %>
            <div class="tag side">
                <%= tagItem %>
            </div>
        <% }); %>
    </div>
    
</div>