<div class="replyItemEdit side">
	 <textarea class="replytext field side" placeholder="Add your comment here..."></textarea>
		<div class="btn-group btn-group-xs newreplygroup" role="group" aria-label="edit" style="padding-top:10px;">
		    <button class="btn btn-primary" id="save" ><i class="glyphicon glyphicon-floppy-disk"></i> Save </button>
            <button class="btn btn-danger" id="delete" data-toggle="confirmation"><i class="glyphicon glyphicon-remove"></i> Delete </button>
	    </div>
</div>