<div class="trow">
	<input type="text" value="Untitled <%= count %>" class="custom-tag-name">
	<div class="color-selection">
		<div class="custom-tag-color-chosen" role="button" style="background-color:rgba(255,255,0,0.3);"></div>
		<div class="custom-tag-color-menu open">
			<ul class="dropdown-inner" role="menu">
				<li>
					<div class="custom-tag-color" role="button" style="background-color:rgba(255, 255, 0, 0.3);"></div> Yellow
				</li>
				<li>
					<div class="custom-tag-color" role="button" style="background-color:rgba(255, 0, 0, 0.3);"></div> Red
				</li>
				<li>
					<div class="custom-tag-color" role="button" style="background-color:rgba(255, 128, 0, 0.3);"></div> Orange
				</li>
				<li>
					<div class="custom-tag-color" role="button" style="background-color:rgba(0, 255, 0, 0.3);"></div> Green
				</li>
				<li>
					<div class="custom-tag-color" role="button" style="background-color:rgba(0, 0, 255, 0.3);"></div> Blue
				</li>
				<li>
					<div class="custom-tag-color" role="button" style="background-color:rgba(160, 32, 240, 0.3);"></div> Purple
				</li>
				<li>
					<div class="custom-tag-color" role="button" style="background-color:rgba(255, 192, 203, 0.3);"></div> Pink
				</li>
				<li>
					<div class="custom-tag-color" role="button" style="background-color:rgba(165, 42, 42, 0.3);"></div> Brown
				</li>
				<li>
					<div class="custom-tag-color" role="button" style="background-color:rgba(128, 128, 128, 0.3);"></div> Gray
				</li>
				<li>
					<div class="custom-tag-color" role="button" style="background-color:rgba(255, 255, 255, 0.3);"></div> Custom
				</li>
			</ul>
		</div>
	</div>
	<a class="remove-tag" href="#"><i class="fa fa-trash"></i>Remove</a>
	<a class="add-another-tag" href="#"><i class="fa fa-plus"></i>Add another</a></div>