{% extends 'hx_lti_initializer/base.html' %}
{% load extra_options %}
{% load staticfiles %}

{% block content %}
{% load bootstrap3 %}
{# bootstrap_css #}
{% bootstrap_javascript %}
<script src="{% static "vendors/development/summernote.js" %}"></script>
<link rel="stylesheet" href="{% static "vendors/development/css/summernote.css" %}">
<link rel="stylesheet" href="{% static "vendors/development/css/summernote-bs3.css" %}">
<link rel="stylesheet" href="{% static "vendors/Annotator/plugins/summernote-richtext-annotator.css" %}">
<script>
	jQuery(document).ready(function(){
	    var options = {
			focus: false,
		};
		jQuery('#id_target_content').summernote(options);
		
		// Autopopulate creator and course in target form
		var creatorId = "{{ creator | safe }}";
		var courseId = "{{ course | safe }}";
		var equals_option_value = function(val) {
			return function() {
				return $(this).val() == val;
			};
		};

		var creatorValue = $('#id_target_creator option').filter(equals_option_value(creatorId)).val();
		var courseValue = $('#id_target_courses option').filter(equals_option_value(courseId)).val();

		// Set current creator and current course as defaults in selectors
		$('select[name=target_creator]').val(creatorValue);
		$('select[name=target_courses]').val(courseValue);
		$('.selectpicker').selectpicker('refresh');

		{% if form.target_type == 'vd' %}
		var links = "{{form.target_content.value | escapejs}}".split(';');
		if (links.length === 3) {
			window.youtubeLink = links[0] || "";
			window.html5Link = links[1] || "";
			window.transcript_link = links[2] || "";
		}
		{% endif %}
		// window.youtubeLink = "{{form.target_content.value | just_the_youtube_vid_link:form.target_type | escapejs}}";
		// window.html5Link = "{{form.target_content.value | just_the_html5_vid_link:form.target_type | escapejs}}";
		// window.transcript_link = "{{form.target_content.value | just_the_transcript_link:form.target_type | escapejs}}";

		{% if form.target_type == 'ig' and form.target_content.value != None and form.target_content.value != "None" %}
		var jqxhr = $.ajax( "{{ form.target_content.value|escapejs }}")
		  .done(function(html) {
		  	var manifest = html;
		  	var imgURL = manifest.sequences[0].canvases[0].images[0].resource["@id"];
		  	imgURL = imgURL.replace('/full/full/0/native','/full/250,/0/native.jpg');
		  	jQuery('#example-image').attr("src", imgURL);
		  	console.log(imgURL);
		  })
		  .fail(function() {
		  })
		  .always(function() {
		  });
		  {% endif %}
		  jQuery('form').on('click', '#source-save-button', function(event) {
		  	jQuery(this).closest('form').submit();
		  });
	});
		

	var createVideoFields = function() {
		jQuery('.vdchange').before("<div class='form-group vd'>\
			<label for=\"id_youtube_vid_link\">Youtube Video Link:</label>\
			<input id=\"id_youtube_vid_link\" maxlength=\"255\" name=\"youtube_vid_link\" class=\"form-control video_option hx-textfield\" type=\"text\" value=\""+window.youtubeLink+"\">\
			<div class=\"help_text\">If you don't include an HTML5-approved video (e.g. .mp4), you must include a youtube video.</div>\
			</div><div class='form-group vd'>\
			<label for=\"id_html5_vid_link\">HTML5 Video Link:</label>\
			<input id=\"id_html5_vid_link\" maxlength=\"255\" name=\"html5_vid_link\" class=\"form-control video_option hx-textfield\" type=\"text\" value=\""+window.html5Link+"\">\
			<div class=\"help_text\">If you don't include a Youtube video (e.g. .mp4), you must include an HTML5-approved video.</div>\
			</div><div class='form-group vd'>\
			<label for=\"id_transcript_link\">Transcript Link:</label>\
			<input id=\"id_transcript_link\" maxlength=\"255\" name=\"transcript_link\" class=\"form-control video_option hx-textfield\" type=\"text\" value=\""+window.transcript_link+"\">\
			</div>");
		jQuery('.video_option').change(function (e){
        	var youtube_vid_link = jQuery('#id_youtube_vid_link').val();
        	var html5_vid_link = jQuery('#id_html5_vid_link').val();
        	var transcript_link = jQuery('#id_transcript_link').val();
        	if (html5_vid_link == "") {
        		if (transcript_link == "") {
        			jQuery('#id_target_content').html(youtube_vid_link);
        		} else {
        			jQuery('#id_target_content').html(youtube_vid_link + ';' + transcript_link);
        		}
        	} else if (youtube_vid_link == "") {
        		if (transcript_link == "") {
        			jQuery('#id_target_content').html(html5_vid_link);
        		} else {
        			jQuery('#id_target_content').html(html5_vid_link + ';' + transcript_link);
        		}
        	} else {
        		jQuery('#id_target_content').html(youtube_vid_link + ';' + html5_vid_link + ";" + transcript_link);
        	}
        });
	}

		jQuery(document).ready(function() {
			jQuery('#id_target_type').change(function() {
				var value = jQuery('#id_target_type').val();
				var options = {
					focus: false,
				};
				if (value === "vd") {
					jQuery('.ig').hide();
					jQuery('.tx').hide();
					jQuery('.vd').show();
					jQuery('#id_target_content').destroy();
					jQuery('form').off('submit'); // fixes issue with summernote still having a "submit" event handler attached after destroy...
					createVideoFields();
					jQuery('label[for="id_target_content"]').text('Video Link');
				} else if (value === "tx") {
					jQuery('.ig').hide();
					jQuery('.vd').hide();
					jQuery('.tx').show();
					jQuery('#id_target_content').summernote(options);
					jQuery('label[for="id_target_content"]').text('Source Content');
					if ("{{ form.target_content.value | escapejs }}".length > 0) {
						jQuery('#id_target_content').next().find(".note-editable").attr("contenteditable", false);
						var warn_user = function() {
							var result = confirm('Editing Text (even a small typo or formatting) may cause you to lose annotations anyone has created. Talk to Tech Team to get full details on the effects of your changes.\n Do you want to still edit text?');
							if (result) {
								jQuery('#id_target_content').next().find(".note-editable").attr("contenteditable", true);
								jQuery('#id_target_content').next().find('.note-editable').off('click', warn_user);
							}

						}
						jQuery('#id_target_content').next().find('.note-editable').on('click', warn_user);
					}

				} else if (value === "ig") {
					jQuery('.vd').hide();
					jQuery('.tx').hide();
					jQuery('.ig').show();
					jQuery('#id_target_content').destroy();
					jQuery('form').off('submit'); // fixes issue with summernote still having a "submit" event handler attached after destroy...
                    jQuery('#id_target_content').blur( function() {
                        var content = jQuery('#id_target_content').val();
                        var expression = /https:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)?/gi;
                        var regex = new RegExp(expression);
                        jQuery('#content-error').remove();
                        if (content.match(regex) && content.match(regex).length === 1) {
                            jQuery('#id_target_content').css('outline', 'none');
                            jQuery('#id_target_content').css('outline-offset', 'none');
                        } else {
                            jQuery('#id_target_content').css('outline', 'red 2px solid');
                            jQuery('#id_target_content').css('outline-offset', '5px');
                            jQuery('#id_target_content').before('<p id="content-error" style="color:red; font-size:10pt;">Not a valid manifest URL. Make sure it\'s only one URL and that it begins with "https".</p>');
                        }
                    });
					jQuery('label[for="id_target_content"]').text('Mirador Manifests');
				}
			});
			jQuery('#id_target_type').trigger('change');
            jQuery('#id_target_content').focus(function(){console.log("targetabouttochange");}).blur( function(){
                console.log("Targetchanged");
            });
			setTimeout(function(){
				if (window.navigator.platform === "Win32") {
					jQuery('.bootstrap-select.form-control').addClass('win');
				}
				if (window.navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
					jQuery('.bootstrap-select.form-control').addClass('firefox');
				}
			}, 500);
		});
	</script>

	<h2>Edit Source Material</h2>

	<div id='example-holder'><img id='example-image' class='ig'> <p>Be aware that any changes made below will affect all courses that use this source.</p></div>

	<form method="POST" class="post-form">{% csrf_token %}
		<div class="form-group">
			<label for="id_target_type">Annotation Type</label> 
			<select class="form-control selectpicker" data-live-search="false" id="id_target_type" name="target_type">
				{% for id,choice in form.fields.target_type.choices %}
				<option value="{{ id }}" {% if id == form.target_type.value %} selected {% endif %}>{{ choice }}</option>
				{% endfor %}
			</select> 
		</div>

		<div class="form-group">
			<label for="id_target_title">Source Title:</label> 
			<input id="id_target_title" maxlength="255" name="target_title" class="form-control hx-textfield" type="text" value="{{ form.target_title.value }}">
		</div>
		<div class="form-group tx">
			<label for="id_target_author">Source Author:</label> 
			<input id="id_target_author" maxlength="255" name="target_author" class="form-control hx-textfield" type="text" value="{{ form.target_author.value }}">
		</div>
		<div class="form-group vdchange ig tx" style='width:84%;'>
			<label for="id_target_content">Source Content:</label> 
            {{form.target_content.errors}}
			<textarea id="id_target_content" name="target_content" class="form-control hx-textfield">{{ form.target_content.value | escape  }}</textarea>
		</div>
		<div class="form-group">
			<label for="id_target_citation">Source Citation:</label> 
			<textarea id="id_target_citation" name="target_citation" class="form-control hx-textfield">{{ form.target_citation.value | escape }}</textarea>
		</div>

		<div class="form-group" style='display:none;'>
			<label for="id_target_creator">Creator</label> 
			<select class="form-control selectpicker" data-live-search="true" id="id_target_creator" name="target_creator">
				{% for id,choice in form.fields.target_creator.choices %}
				<option value="{{ id }}" {% if id == form.target_creator.value %} selected {% endif %}>{{ choice }}</option>
				{% endfor %}
			</select> 
		</div>
		<div class="form-group" style='display:none'>
			<label for="id_target_courses">Courses:</label> 
			<select class="form-control selectpicker" data-live-search="true" multiple id="id_target_courses" name="target_courses">
				{% for id,choice in form.fields.target_courses.choices %}
				<option value="{{ id }}" {% if id in form.target_courses.value %} selected {% endif %}>{{ choice }}</option>
				{% endfor %}
			</select> 

			<div class="help_text">Do not deselect any courses, just make sure yours is selected</div>
		</div>

		{% buttons %}
			<div type="submit" class="save" id='source-save-button'>
				Save
			</div>
			<a href="{% url 'hx_lti_initializer:course_admin_hub' %}?resource_link_id={{ resource_link_id }}" class="save" id='source-cancel-button'>
				Cancel
			</a>
		{% endbuttons %}
	</form>
{% endblock %}
