{% extends 'hx_lti_initializer/base.html' %}
{% load extra_options %}
{% load static %}

{% block css_file %}
<style type="text/css">
#id_image_upload_preview ol {
	list-style-type: none;
	margin-left: 0;
	padding-left: 0;
	padding-top: 10px;
}
#id_image_upload_preview img {
	max-width: 75%;
}
</style>
{% endblock %}

{% block content %}
{% load bootstrap3 %}
{# bootstrap_css #}
{% bootstrap_javascript %}
<script src="{% static "vendors/development/summernote.js" %}"></script>
<link rel="stylesheet" href="{% static "vendors/development/css/summernote.css" %}">
<link rel="stylesheet" href="{% static "vendors/development/css/summernote-bs3.css" %}">
<link rel="stylesheet" href="{% static "vendors/Annotator/plugins/summernote-richtext-annotator.css" %}">
<script>
	jQuery(document).ready(function(){
	    var options = {
			focus: false,
		};
		jQuery('#id_target_content').summernote(options);
		
		// Autopopulate creator and course in target form
		var creatorId = "{{ creator | safe }}";
		var courseId = "{{ course | safe }}";
		var equals_option_value = function(val) {
			return function() {
				return $(this).val() == val;
			};
		};

		var creatorValue = $('#id_target_creator option').filter(equals_option_value(creatorId)).val();
		var courseValue = $('#id_target_courses option').filter(equals_option_value(courseId)).val();

		// Set current creator and current course as defaults in selectors
		$('select[name=target_creator]').val(creatorValue);
		$('select[name=target_courses]').val(courseValue);
		$('.selectpicker').selectpicker('refresh');

		{% if form.target_type.value == 'vd' %}
		console.log("{{form.target_content.value | escapejs}}")
		var links = "{{form.target_content.value | escapejs}}".split(';');
		window.youtubeLink =  "";
		window.html5Link = "";
		window.transcript_link = "";
		if (links.length === 3) {
			window.youtubeLink = links[0] || "";
			window.html5Link = links[1] || "";
			window.transcript_link = links[2] || "";
		} else {
			window.youtubeLink = links[0] || "";
			window.html5Link = links[0] || "";
			window.transcript_link = links[1] || "";
		}
		{% endif %}
		// window.youtubeLink = "{{form.target_content.value | just_the_youtube_vid_link:form.target_type | escapejs}}";
		// window.html5Link = "{{form.target_content.value | just_the_html5_vid_link:form.target_type | escapejs}}";
		// window.transcript_link = "{{form.target_content.value | just_the_transcript_link:form.target_type | escapejs}}";

		{% if form.target_type.value == 'ig' and form.target_content.value != None and form.target_content.value != "None" %}
		var jqxhr = $.ajax( "{{ form.target_content.value|escapejs }}")
		  .done(function(html) {
		  	var manifest = html;
		  	var imgURL = manifest.sequences[0].canvases[0].images[0].resource["@id"];
		  	imgURL = imgURL.replace('/full/full/0/native','/full/250,/0/native.jpg');
		  	jQuery('#example-image').attr("src", imgURL);
		  	console.log(imgURL);
		  })
		  .fail(function() {
		  })
		  .always(function() {
		  });
		  {% endif %}
		  jQuery('form').on('click', '#source-save-button', function(event) {
				var allow_submit = true;
				var required_for_all_types = ['id_target_type', 'id_target_title'];
				required_for_all_types.forEach(function(id) {
					var el = document.getElementById(id);
					if(!el.value) {
						allow_submit = false;
					}
					markRequiredIfEmpty(el);
				});
				if(allow_submit) {
					jQuery(this).closest('form').submit();
				}
		  });
	});

	var markRequiredIfEmpty = function(el) {
		if(el.value) {
			$(el).css({'outline': 'none', 'outline-offset': 'none'})
		} else {
			$(el).css({'outline': 'red 2px solid', 'outline-offset': '5px'});
		}
	}

	var createVideoFields = function() {
		jQuery('.vdchange').before("<div class='form-group vd'>\
			</div><div class='form-group vd'>\
			<label for=\"id_html5_vid_link\">HTML5 Video Link:</label>\
			<input id=\"id_html5_vid_link\" maxlength=\"255\" name=\"html5_vid_link\" class=\"form-control video_option hx-textfield\" type=\"text\" value=\""+ (window.html5Link || "")+"\">\
			<div class=\"help_text\">If you don't include a Youtube video (e.g. .mp4), you must include an HTML5-approved video.</div>\
			</div><div class='form-group vd'>\
			<label for=\"id_transcript_link\">Transcript Link:</label>\
			<input id=\"id_transcript_link\" maxlength=\"255\" name=\"transcript_link\" class=\"form-control video_option hx-textfield\" type=\"text\" value=\""+(window.transcript_link || "")+"\">\
			</div>");
		jQuery('.video_option').change(function (e){
        	var html5_vid_link = jQuery('#id_html5_vid_link').val();
        	var transcript_link = jQuery('#id_transcript_link').val();
                jQuery('#id_target_content').html(html5_vid_link + ";" + transcript_link);
        });
	}

		jQuery(document).ready(function() {
			jQuery('#id_target_type').change(function() {
				var value = jQuery('#id_target_type').val();
				var options = {
					focus: false,
				};
				if (value === "vd") {
					jQuery('.ig').hide();
					jQuery('.tx').hide();
					jQuery('.vd').show();
					jQuery('#id_target_content').destroy();
					jQuery('form').off('submit'); // fixes issue with summernote still having a "submit" event handler attached after destroy...
					createVideoFields();
					jQuery('label[for="id_target_content"]').text('Video Link');
				} else if (value === "tx") {
					jQuery('.ig').hide();
					jQuery('.vd').hide();
					jQuery('.tx').show();
					jQuery('#id_target_content').summernote(options);
					jQuery('label[for="id_target_content"]').text('Source Content');
					jQuery('#id_target_content').before('<p class="tx" style="font-size: 0.75em">Warning: Make sure to do all copy edits before making any annotations. Making changes to the text after any annotations have been made may cause you to have to remake the annotations as well.</p>');
					if ("{{ form.target_content.value | escapejs }}".length > 4 || "{{ form.target_content.value | escapejs }}" !== "None") {
						jQuery('#id_target_content').next().find(".note-editable").attr("contenteditable", false);
						var warn_user = function() {
							var result = confirm('Editing text (even a small typo or formatting) may cause you to lose annotations anyone has created.\nTalk to Tech Team to get full details on the effects of your changes.\n\nDo you want to still edit text?');
							if (result) {
								jQuery('#id_target_content').next().find(".note-editable").attr("contenteditable", true);
								jQuery('#id_target_content').next().find('.note-editable').off('click', warn_user);
							}

						}
						jQuery('#id_target_content').next().find('.note-editable').on('click', warn_user);
					}

				} else if (value === "ig") {
					jQuery('.vd').hide();
					jQuery('.tx').hide();
					jQuery('.ig').show();
					jQuery('#id_target_content').destroy();
					jQuery('form').off('submit'); // fixes issue with summernote still having a "submit" event handler attached after destroy...
					jQuery('label[for="id_target_content"]').text('Source Manifest');
					jQuery('#id_image_store').show();
				}
			});

			jQuery('#id_target_title').on('blur', function(e) {
				this.value = this.value.trim();
				markRequiredIfEmpty(this);
			});

			jQuery('#id_target_type').trigger('change');
			
			setTimeout(function(){
				if (window.navigator.platform === "Win32") {
					jQuery('.bootstrap-select.form-control').addClass('win');
				}
				if (window.navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
					jQuery('.bootstrap-select.form-control').addClass('firefox');
				}
			}, 500);
		});

		// For handling image uploads to the image store backend (only if enabled)
		$(document).ready(function() {
			const fileTypes = ['image/jpeg', 'image/jpg', 'image/png'];
			const input = document.getElementById('id_image_upload');
			const preview = document.getElementById('id_image_upload_preview');
			//input.style.opacity = 0;

			function validFileType(file) {
				for(let i = 0; i < fileTypes.length; i++) {
					if(file.type === fileTypes[i]) {
						return true;
					}
				}
				return false;
			}

			function returnFileSize(number) {
				if(number < 1024) {
					return number + 'bytes';
				} else if(number >= 1024 && number < 1048576) {
					return (number/1024).toFixed(1) + 'KB';
				} else if(number >= 1048576) {
					return (number/1048576).toFixed(1) + 'MB';
				}
			}

			function updateImageDisplay() {
				while(preview.firstChild) {
					preview.removeChild(preview.firstChild);
				}

				const curFiles = input.files;
				if(curFiles.length === 0) {
					let para = document.createElement('p');
					para.textContent = 'No files currently selected for upload';
					preview.appendChild(para);
				} else {
					let list = document.createElement('ol');
					preview.appendChild(list);
					for(let i = 0; i < curFiles.length; i++) {
						let listItem = document.createElement('li');
						let para = document.createElement('p');
						if(validFileType(curFiles[i])) {
							para.textContent = 'File name ' + curFiles[i].name + ', file size ' + returnFileSize(curFiles[i].size) + '.';
							let image = document.createElement('img');
							image.src = window.URL.createObjectURL(curFiles[i]);
							listItem.appendChild(image);
							listItem.appendChild(para);
						} else {
							para.textContent = 'File name ' + curFiles[i].name + ': Not a valid file type. Update your selection.';
							listItem.appendChild(para);
						}
						list.appendChild(listItem);
					}
				}
			}

			// Update image preview when file input changes
			if(input) {
				input.addEventListener('change', updateImageDisplay);
			}
		});
	</script>

	<h2>Edit Source Material</h2>

	<div id='example-holder'><img id='example-image' class='ig'> <p>Be aware that any changes made below will affect all courses that use this source.</p></div>

	{% if form.non_field_errors %}
		{{ form.non_field_errors }}
	{% endif %}

	<form method="POST" id="id_target_form" class="post-form" enctype="multipart/form-data">{% csrf_token %}
		<div class="form-group">
			<label for="id_target_type">Annotation Type</label> 
			<select class="form-control selectpicker" data-live-search="false" id="id_target_type" name="target_type">
				{% for id,choice in form.fields.target_type.choices %}
				<option value="{{ id }}" {% if id == form.target_type.value %} selected {% endif %}>{{ choice }}</option>
				{% endfor %}
			</select> 
		</div>

		<div class="form-group">
			<label for="id_target_title">Source Title:</label>
			{{form.target_title.errors}}  
			<input id="id_target_title" maxlength="255" name="target_title" class="form-control hx-textfield" type="text" value="{{ form.target_title.value | default_if_none:"" }}" required>
		</div>
		<div class="form-group tx">
			<label for="id_target_author">Source Author:</label> 
			{{form.target_author.errors}} 
			<input id="id_target_author" maxlength="255" name="target_author" class="form-control hx-textfield" type="text" value="{{ form.target_author.value | default_if_none:'--'}}">
		</div>

		{% if image_store_enabled %}
		<div id="id_image_store" style="display:none;">
			<div id="id_form_group_image_upload" class="form-group" style="padding: 10px 40px 10px 0px;">
				<label for="id_image_upload">Source Image (PNG, JPG)</label>
				<input type="file" id="id_image_upload" name="target_file" accept=".jpg, .jpeg, .png" multiple>
				<div id="id_image_upload_preview">
					<p>No files currently selected for upload. </p>
				</div>
			</div>
		</div>
		{% endif %}

		<div class="form-group vdchange ig tx" style='width:84%;'>
			<label for="id_target_content">Source Content:</label> 
            {{form.target_content.errors}}
			<textarea id="id_target_content" name="target_content" class="form-control hx-textfield">{{ form.target_content.value | default_if_none:"" | escape  }}</textarea>
		</div>

		<div class="form-group">
			<label for="id_target_citation">Source Citation:</label>
			{{form.target_citation.errors}} 
			<textarea id="id_target_citation" name="target_citation" class="form-control hx-textfield">{{ form.target_citation.value | default_if_none:"" | escape }}</textarea>
		</div>

		<div class="form-group" style='display:none;'>
			<label for="id_target_creator">Creator</label> 
			<select class="form-control selectpicker" data-live-search="true" id="id_target_creator" name="target_creator">
				{% for id,choice in form.fields.target_creator.choices %}
				<option value="{{ id }}" {% if id == form.target_creator.value %} selected {% endif %}>{{ choice }}</option>
				{% endfor %}
			</select> 
		</div>
		<div class="form-group" style='display:none'>
			<label for="id_target_courses">Courses:</label> 
			<select class="form-control selectpicker" data-live-search="true" multiple id="id_target_courses" name="target_courses">
				{% for id,choice in form.fields.target_courses.choices %}
				<option value="{{ id }}" {% if id in form.target_courses.value %} selected {% endif %}>{{ choice }}</option>
				{% endfor %}
			</select> 

			<div class="help_text">Do not deselect any courses, just make sure yours is selected</div>
		</div>

		{% buttons %}
			<div type="submit" class="save" id='source-save-button'>
				Save
			</div>
			<a href="{% url 'hx_lti_initializer:course_admin_hub' %}?resource_link_id={{ resource_link_id }}" class="save" id='source-cancel-button'>
				Cancel
			</a>
		{% endbuttons %}
	</form>
{% endblock %}
