<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load staticfiles %}
{% load staticfiles %}
<script src="{% static "vendors/tinymce/tinymce.min.js" %}"></script>
<script src="{% static "vendors/Annotator/annotator-full.js" %}"></script>
<script src="{% static "vendors/video/jquery-Watch.js" %}"></script>
<script src="{% static "vendors/video/video.dev.js" %}"></script>
<script src="{% static "vendors/video/vjs.youtube.js" %}"></script>
<script src="{% static "vendors/video/rangeslider.js" %}"></script>
<script src="{% static "vendors/video/videojs-annotator.js" %}"></script>
<script src="{% static "vendors/video/videojs.annotation.js" %}"></script>
<script src="{% static "AController.js" %}"></script>
<script src="{% static "AnnotationMain.js" %}"></script>
<script src="{% static "AnnotationCore.js" %}"></script>
<script src="{% static "TargetObjectController.js" %}"></script>
<script src="{% static "vendors/Annotator/plugins/richText-annotator.js" %}"></script>
<script src="{% static "vendors/Annotator/plugins/annotator.touch.js" %}"></script>
<link rel="stylesheet" href="{% static "vendors/Annotator/annotator.css" %}">
<link rel="stylesheet" href="{% static "vendors/Annotator/plugins/richText-annotator.css" %}">
<link rel="stylesheet" href="{% static "vendors/Annotator/plugins/annotator.touch.css" %}">
<link rel="stylesheet" href="{% static "vendors/video/video-js.min.css" %}">
<link rel="stylesheet" href="{% static "vendors/video/rangeslider.css" %}">
<link rel="stylesheet" href="{% static "hx-annotation.css" %}">
<link rel="stylesheet" href="{% static "vendors/ova.css" %}">
<div class="container">
<h1>{{ target_object.target_title | safe }}</h1>
<div class="content">
	<video id="vid1" class="video-js vjs-default-skin" controls preload="none" width="640" height="264">
		<source src="{{ target_object.target_content | safe }}" type='{{ typeSource }}' />
	</video>
</div>
<div class="citation">
<a href="{{ target_object.target_citation | safe }}">Source Channel</a>
</div>
</div>
<div id="CatchDiv">
</div>

<script>
console.log("{{ typeSource }}")
jQuery(function ($) {
    $(function() {
		var options = {
			commonInfo: {
				mediaType: "video", // {{ media_type }}
				context_id: "{{ course }}",
				collection_id: {{ collection }},
				object_id: {{ object }},
				token: "{{ token }}",
				username: "{{ username }}",
				user_id: "{{ user_id }}",
			},
			annotationMainOptions: {

			},
			annotationCoreOptions: {
				annotationElement: jQuery(".content"),
				initOptions: {
					'plugins': [
						// order matters, auth before store
						'Auth',
						'Permissions',
						'Store',
						'VideoJS',
						'RichText',
						//'Touch',
					],
					optionsVideoJS: {
						techOrder: [
							"html5",
							"flash",
							"youtube",
						],
					},
					optionsRS: {},
					optionsOVA: {
						posBigNew:'none',
					},
				},
			},
			targetObjectControllerOptions: {

			},
		};
		AController(options);
	});
});
</script>
