{% load staticfiles %}
{% load list_of_ids %}
<!DOCTYPE html>
<html>
<head>
<script src="{% static "vendors/mirador/mirador.js" %}"></script>
{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<link rel="stylesheet" href="{% static "vendors/mirador/css/mirador-combined.css" %}">
<style type="text/css">
    #viewer { height: 100%;}
</style>
  <script src="{% static "vendors/development/underscore.js" %}"></script>
  <script src="{% static "vendors/development/jquery.timeago.js" %}"></script>
  <script src="{% static "vendors/development/jstz.js" %}"></script>
  <script src="{% static "vendors/development/jquery.unveil.js" %}"></script>
<script src="{% static "vendors/development/bootstrap-confirmation.js" %}"></script>
<script src="{% static "AController.js" %}"></script>
<script src="{% static "AnnotationMain.js" %}"></script>
<script src="{% static "AnnotationStoreController.js" %}"></script>
<script src="{% static "DashboardController.js" %}"></script>
<script src="{% static "DashboardView.js" %}"></script>
<script src="{% static "TargetObjectController.js" %}"></script>
<script src="{% static "vendors/development/jquery.tokeninput.js" %}"></script>
<link rel="stylesheet" href="{% static "vendors/development/css/summernote.css" %}">
<link rel="stylesheet" href="{% static "vendors/development/css/font-awesome.css" %}">
<link rel="stylesheet" href="{% static "vendors/Annotator/plugins/summernote-richtext-annotator.css" %}">
<link rel="stylesheet" href="{% static "css/dashboard.css" %}">
<link rel="stylesheet" href="{% static "vendors/development/css/mirador-token-input.css" %}">
  </head>
  <body>
<div id="viewer" class="test">
  {% if prev_object %}
  <a href="{% url 'hx_lti_initializer:access_annotation_target' course_id=course assignment_id=collection object_id=prev_object.target_object.id %}" style="float:left;margin-bottom:20px;bottom:0;;position:absolute;margin-left:20px;z-index:999999;opacity:0.3;transition-duration:0.4s" class="btn btn-primary" role="button" id="prev_target_object" onmouseover="jQuery(this).css('opacity', 0.9);" onmouseout="jQuery(this).css('opacity', 0.3);"><i class="glyphicon glyphicon-chevron-left"></i> Previous</a>
  {% endif %}
  {% if next_object %}
  <a href="{% url 'hx_lti_initializer:access_annotation_target' course_id=course assignment_id=collection object_id=next_object.target_object.id %}" style="float:right;margin-bottom:20px;bottom:0;right:0;position:absolute;margin-right:120px;z-index:9;opacity:0.3;transition-duration:0.4s" class="btn btn-primary" role="button" id="next_target_object" onmouseover="jQuery(this).css('opacity', 0.9);" onmouseout="jQuery(this).css('opacity', 0.3);">Next <i class="glyphicon glyphicon-chevron-right"></i></a><br />
  {% endif %}
</div>
<div id="dashboard"></div>
<script>
$(function() {
      var mir = Mirador({
        "id": "viewer",
        "mainMenuSettings" : {
           'show' : false
        },
        "buildPath" : "{% static "vendors/mirador/" %}",
        "layout" : "1x1",
        "saveSession" : false,
        "data": [
        {% for i in target_object.get_target_content_as_list %}
        { "manifestUri": "{{ i }}", "location": "Harvard University"},
        {% endfor %}
        ],
        "windowObjects": [
          {
            "loadedManifest": "{{ target_object.get_target_content_as_list.0 }}",
        	  "viewType" : "{{ viewType }}",
            {% if canvas_id %}
              "canvasID" : "{{ canvas_id }}",
            {% endif %}
            "annotationLayer" : true,
            "annotationCreation" : true,
        	  "sidePanel" : false,
            "fullScreen" : false,
            "displayLayout": false,
            "annotationState": "annoOnCreateOff",
            // This will eventually be put back in whenever we add layout options
            // to the admin hub
            // "layoutOptions" : 
            //  {
            //  "newObject" : true,
            //  "close" : false,
            //  "slotRight" : false,
            //  "slotLeft" : false,
            //  "slotAbove" : false,
            //  "slotBelow" : false
            //  }
          },
        ],
        "annotationEndpoint": 
          {
          "name":"Harvard CATCH Production",
          "module": "CatchEndpoint",
          "options": {
            token: "{{ token }}",
            // The endpoint of the store on your server.
            prefix: "/lti_init/annotation_api",
            userid : "{{ user_id }}",
            username : "{{ username }}",
            roles : "{{ roles }}",
            collection_id : "{{ collection }}",
            context_id : "{{ course }}",
          }
        }
      });
      
      var options = {
          commonInfo: {
          mediaType: "image", // {{ media_type }}
          context_id: "{{ course }}",
          collection_id: "{{ collection }}",
          object_id: {{ object }},
          token: "{{ token }}",
          username: "{{ username }}",
          user_id: "{{ user_id }}",
          is_instructor: "{{ is_instructor }}",
          pagination: {{ assignment.pagination_limit }},
        },
        
        annotationMainOptions: {
          {% if assignment.allow_highlights %}
          'highlightTags_options': "{{ assignment.highlights_options }}",
          {% endif %}
        },
        
        dashboardControllerOptions: {
          annotationElement: jQuery("#dashboard"),
          initOptions: {
            template_urls: '{% static "templates/dashboard/"%}',
            showPublicPrivateSelectors: true,
            showMediaSelector: false,
            flags: false,
            imageRootUrl: "{% static "vendors/catch/img"%}",
            instructors: {{ assignment.course.course_admins| list_of_ids | safe}},
            default_tab: "{{ assignment.default_tab }}",
            instructions: "{{instructions | escapejs }}",
            {% if focus_on_id %}
            focus_on_annotation: {{focus_on_id}},
            {% endif %}
          },
        },

        targetObjectOptions: {
        },
      };
      AController(options);
    });
  
</script>
</body>
</html>
