{% extends 'hx_lti_initializer/hxighlighter_base.html' %}

{% load static %}
{% load list_of_ids %}

{% block title %}
Image Annotation Tool | {{ target_object.target_title }}
{% endblock %}

{% block cssfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'hxighlighter/hxighlighter_image_m2.css' %}">
{% endblock %}

{% block mainapplication %}
    <main class="hxighlighter-container" role="main">
        <section class='container1' aria-labelledby='to-title' role="region" accesskey='t'>
            <aside labelledby='aside-title' role="complementary" class="sr-only" accesskey="h" id='key-help' tabindex="-1">
                    <h3 id='aside-title'>Keyboard Help</h3>
                    <details>
                        <summary>Quick Navigation Links</summary>
                        <ul>
                            <li><a href="#" class="focus-on-location" data-link-to=".openseadragon-canvas">Image Viewer</a></li>
                            <li><a href="#" class="focus-on-location" data-link-to=".mirador-osd-up.hud-control">Image Viewer Controls</a></li>
                            <li><a href="#annotationsHolder">Annotation List</a></li>
                        </ul>
                    </details>
                    <details>
                        <summary>Making Annotations via Keyboard Instructions</summary>
                        <ol>
                            <li>Use instructor or peer annotations to guide you in selecting the region you would like to annotate. Each annotation in the annotation list has a button to zoom in to the region that annotation is marking.</li>
                            <li>Once you are in the desired area, use the shortcut below or the <a href="#ma-button">Make Annotation</a> button to capture what is currently in the viewer.</li>
                        </ol>
                    </details>
                    <details>
                        <summary>Keyboard Shortcuts</summary>
                        <ul>
                            <li><strong>"Ctrl + 1"</strong>: Make annotation using what is currently in the viewer</li>
                            <li><strong>"Ctrl + 2"</strong>: Repeat instructions/messages/hints from tool</li>
                            <li><strong>"Ctrl + 3"</strong>: Toggle Hints on/off</li>
                        </ul>
                        When in the image viewer use the arrow keys to pan in the desired direction, or '-' to zoom out and '=' to zoom in.
                    </details>
                    <button id='ma-button' class="make-annotation-button btn btn-default">Make Annotation</button>


                    <div id="hx-sr-notifications" class='sr-only' aria-live="assertive">
                        <div class='sr-real-alert'></div>
                        <div class="sr-alert"></div>
                        <button role="button" class="toggle-alerts on">Turn Hint Text Off</button>
                    </div>
                </aside>
            <div class='annotations-section'>
                <div id="viewer" class="hx-mirador"></div>
            </div>
        </section>
    </main>
    <footer class="hx-footer"></footer>
    <style>
        .hx-footer {
            width: 100%;
            height: 15px;
            height: var(--footer-height);
            position: fixed;
            bottom: 0;
            left: 0;
            z-index: 9999999999999;
            /* background: black; */
            background: #ededed;
            /*-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.39);
            -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.39);
            box-shadow: 0px -3px 5px 0px rgba(0,0,0,0.39);*/
            border: 1px solid #c0c0c0;
        }

        :root {
            --footer-height: 15px;
        };

        #viewer { position: fixed; width: 100%; height:100%; height: calc(100% - 50px); height: -webkit-calc(100% - 50px); height:-moz-calc(100% - 50px);}
    </style>
    <script type="text/javascript" src="{% static 'hxighlighter/hxighlighter_image_m2.js' %}"></script>
    <script>
            var tags = "{{ assignment.highlights_options }}".split(',');
            var hide_sidebar = {{ hide_sidebar_instance | safe }};
            var tagDict = {};
            tags.forEach(function(tagval) {
                var pair = tagval.split(':');
                tagDict[pair[0]] = pair[1]
            });
            var tabsCounter = 1;
            var tabsList = ['search'];
            {% if assignment.include_mynotes_tab %}
                if (hide_sidebar.indexOf('mine') == -1){
                    tabsCounter += 1;
                    tabsList.push('mine');
                }
            {% endif %}

            {% if assignment.include_instructor_tab %}
                if (hide_sidebar.indexOf('instructor') == -1){
                    tabsCounter += 1;
                    tabsList.push('instructor');
                }
            {% endif %}

            {% if assignment.include_public_tab %}
                if (hide_sidebar.indexOf('peer') == -1){
                    tabsCounter += 1;
                    tabsList.push('peer');
            }
            {% endif %}
            var defTab = "{{ assignment.default_tab }}";
            if (defTab == "Instructor") {
                defTab = "instructor"
            } else if (defTab == "MyNotes") {
                defTab = "mine";
            } else if (defTab == "Public") {
                defTab = "peer"
            }
            var hxighlighter_object1 = {
                "commonInfo": {
                    "mediaType": "image",
                    "context_id": "{{ course }}",
                    "collection_id": "{{ collection }}",
                    "object_id": "{{ canvas_id }}",
	            "ws_object_id": "{{ object }}",
                    "username": "{{ username }}",
                    "user_id": "{{ user_id }}",
                    "instructors": {{ assignment.course.course_admins | list_of_ids | safe }},
                    "common_instructor_name": "{{assignment.common_inst_name}}"
                },
                "targets": [{
                    'mediaType': "image",
                    'method': 'manifest',
                    'manifest_url': "{{ target_object.target_content }}",
                    'mirador_build_path': '{% static "hxighlighter/vendor/Mirador/" %}',
                    'object_source': '.container1',
                    "template_urls":  "{% static 'templates/dashboard/' %}",
                    "DropdownTags": {
                        'tags': Object.keys(tagDict),
                        'folksonomy': true,
                    },
                    {% if instructions != "" %}
                    "InstructionPanel": {
                        'instructions': "{{ instructions | escapejs }}"
                    },
                    {% endif %}
                    "ColorTags": tagDict,
                    "SidebarTagTokens": {
                        'tagList': Object.keys(tagDict),
                    },
                    "HxPermissions": {
                        has_staff_permissions: ("{{ is_instructor }}" === "True")
                    },
                    viewerOptions: {
                        filterTabCount: tabsCounter,
                        defaultTab: defTab,
                        tabsAvailable: tabsList,
                        sidebarversion: 'sidemenu',
                        pagination: {{ assignment.pagination_limit }}
                    },
                    Badges: {
                    },
	            Websockets: {
                        wsUrl: window.location.hostname + (window.location.port ? ":"+window.location.port : ""),
			utm: "{{ utm_source }}",
		        resource: "{{ resource_link_id }}"
                    },
                    AdminButton: {
                        {% if is_instructor %}
                        homeURL: "{% url 'hx_lti_initializer:course_admin_hub' %}?resource_link_id={{ resource_link_id }}&utm_source={{utm_source}}",
                        has_staff_permissions: ("{{ is_instructor }}" === "True")
                        {% endif %}
                    },
                    PrevNextButton: {
                        prevUrl: {% if prev_object %}"{% url 'hx_lti_initializer:access_annotation_target' course_id=course assignment_id=collection object_id=prev_object.target_object.id %}?utm_source={{utm_source}}&resource_link_id={{resource_link_id}}" {% else %} "" {% endif %},
                        nextUrl: {% if next_object %}"{% url 'hx_lti_initializer:access_annotation_target' course_id=course assignment_id=collection object_id=next_object.target_object.id %}?utm_source={{utm_source}}&resource_link_id={{resource_link_id}}" {% else %} "" {% endif %},
                    },
                    storageOptions: {
                        external_url: {
                            catchpy: "{% url 'annotation_store:api_root' %}"
                        },
                        token: "{{ token }}",
                        pagination: {{ assignment.pagination_limit }},
                        database_params: {
                            resource_link_id: "{{ resource_link_id }}",
                            utm_source: "{{ utm_source }}",
                            version: 'catchpy'
                        }
                    }
                }],
            };
            Hxighlighter(hxighlighter_object1);
        </script>
{% endblock %}
